<main>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)=" forgotPassword()" class="needs-validation register-form"
    novalidate="">
    <div class="container">
      <h1>Forgot Password</h1>
      <p>Please enter the email below.</p>
      <p [innerText]="successMessage"></p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" formControlName="email" name="email" id="email" type="text"
        class="form-control shadow-none  stack4" required>

      <div *ngIf="showSuccess!=true" class="container signin">
        <span>Need to register? </span><a class="registerLink" routerLink="/loginregister">Click here to Register.</a>
      </div>
      <button *ngIf="showSuccess!=true" class="contactButton" [disabled]="!forgotPasswordForm.valid" type="submit"
        class="registerbtn">Submit</button>
      <button class="contactButton" *ngIf="showSuccess==true" routerLink="/home" type="submit"
        class="registerbtn">Return to Home</button>
      <!-- <p id="terms">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
    </div>
  </form>
</main>

<!-- Need to add alerts:The link has been sent, please check your email to reset your password. -->
<!-- Need to add alerts:Error Message . -->