

<img  class="image-device slit-in-horizontal" src ="{{listing.listingPictures}}" onerror="this.onerror=null; this.
src='../assets/NoPhotoAvailable.jpg';"/>
<main>
  <img class="image tilt-in-tl" src ="{{listing.listingPictures}}" onerror="this.onerror=null; this.
  src='../assets/NoPhotoAvailable.jpg';"/>
<section class="py-5 service-14">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h3 class="my-3" id="price">{{listing.price}}</h3>
              <p id="address" class="mt-5">{{listing.fullAddress}}</p>
              <button id="request-info"  class="btn  btn-md my-3" (click)="openModalWithClass(requestInfo)">Request Info</button><br>
              <button id="return-to-listing" class="btn  btn-md my-3" routerLink ='/forsale'>Return to Listings</button>
          </div>
          <div class="col-lg-6">
              <div class="mb-5">
                  <!--img class="rounded img-fluid" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature2/market.jpg" alt="wrappixel kit" /-->
                  <div class="sect">
                      <h3 class="mt-3">Property Details</h3>
                      <ul class="mt-5">
                          <li>Type: {{listing.type}}</li>
                          <li>Days on Market: {{listing.daysOnMarket}} </li>
                          <li>Status: {{listing.status}} </li>
                          <li>Baths: {{listing.bathTotals}}</li>
                          <li>Full Baths: {{listing.bathFull}}</li>
                          <li>Half Baths: {{listing.bathsHalf}}</li>
                          <li>Beds: {{listing.bedrooms}}</li>
                          <li>Lot Size: {{listing.lotSize}}</li>
                          <li>Square Ft: {{listing.estimatedSquareFeet | number:'.0-2'}} Sqft</li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Column -->
          <div class="col-lg-6">
              <div class="sect">
                  <h3>Estimated Monthly Payment</h3>
                  <h3 style="text-align: center;">{{overallPayment| currency:'USD':'symbol':'2.0-0'}}</h3>

                  <!-- <img class="rounded img-fluid" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature2/fruit.jpg" alt="wrappixel kit" /> -->

                 
                    <div>
                      
                        <canvas baseChart
                          [data]="doughnutChartData"
                          [legend]="true"
                          [type]="doughnutChartType"
                          >
                        </canvas>

                    </div>
                 
                 <!--  <div class="mt-5" id="chart">
                    <span class="infoProgress mt-5"> Principal & Interest  </span>
                    <progressbar class="principalProgress bar1"  [max]="overallPayment" [value]="monthlyPayment" >
            
                    <span>{{(monthlyPayment/overallPayment)| percent}}</span>
                    </progressbar>
                    <span class="infoProgress">Property Taxes</span>
                    <progressbar class="propTaxProgress bar1" [max]="overallPayment" [value]="propTax">
                        <span >{{(propTax/overallPayment)| percent}}</span>
                    </progressbar>
                    <span class="infoProgress">Mortgage Insurance</span>
                    <progressbar class="mortInsProgress bar1" [max]="overallPayment" [value]="pmi">
                        <span >{{(pmi/overallPayment)| percent}}</span>
                    </progressbar>
                    <span class="infoProgress">Property Insurance</span>
                    <progressbar class="homeInsProgress bar1" [max]="overallPayment" [value]="propInsurance">
                        <span >{{(propInsurance/overallPayment)| percent}}</span>
                    </progressbar>
                    <span class="infoProgress">HOA Fees</span>
                    <progressbar class="hoaProgress bar1" [max]="overallPayment" [value]="hoaFee">
                        <span >{{(hoaFee/overallPayment)| percent}}</span>
                    </progressbar>
                  </div> -->
              </div>
          </div>
          <!-- Column -->
          <div class="col-lg-6 mt-5 mb-4 ">
            <div class="accordion mt-5" id="accordionExample">
                <div class="accordion-item ">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span style="width:100%;">
                            Principal & Interest
                        </span> 
                        <span class="heading-bar float-right">
                          {{monthlyPayment | currency:'USD':'symbol':'2.0-2'}} /mo
                        </span>
                    </button>
                  </h2>
                  <div style="z-index:1" id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form>
                            <div class="row g-3">
                              <div class="row">
                                <div class="col-md-6 mt-3 mb-3">
                                  <label for="country">Amt Down Payment</label>
                                  <div class="input-group mb-3">
                                    <input type="text" #amountD class="form-control stack2" aria-label="Amount (to the nearest dollar)" (focusout)="amountDownPayment(amountD.value)" value="{{amtDownPayment | number:'1.0-2'}}">
                                    <div class="input-group-append">
                                      <span class="input-group-text stack">$</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 mb-3 mt-3">
                                  <label for="state">% Down Payment</label>
                                  <div class="input-group mb-3">
                                    <input type="number" #interestD class="form-control stack2" aria-label="Amount (to the nearest dollar)" (focusout)="percentageDownPayment(interestD.value)" value="{{percentDownPayment | number:'1.0-2'}}">
                                    <div class="input-group-append">
                                      <span class="input-group-text stack">%</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <label for="firstName" class="form-label">Loan Program</label>
                                <select #loan class="stack" id="loan-program" (change)="loanProgram(loan.value)">
                                  <option class="stack stack3" value=30>30-year fixed</option>
                                  <option class="stack stack3" value=15>15-year fixed</option>
                                  <option class="stack stack3" value="ARM5">5/1 ARM</option>
                                </select>
                                <div class="invalid-feedback">
                                  Valid first name is required.
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <label for="lastName" class="form-label ">Interest Rate</label>
                                <div class="input-group   mb-3">
                                  <input  #interestR type="number" value="0" class="form-control stack2"  (focusout)="interestRate(interestR.value)">
                                  <div class="input-group-append">
                                    <span class="input-group-text stack">%</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span style="width:100%;">
                            Property Taxes
                          </span>
                          <span class="heading-bar float-right">
                            {{totalTax | currency:'USD':'symbol':'2.0-2'}} /mo
                          </span>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form class="needs-validation" novalidate="">
                            <div class="input-group ">
                              <input type="text" #tax class="form-control stack2 "  required="" placeholder="{{propTax}}" (focusout)="propertyTax(tax.value)">
                              <div class="input-group-prepend">
                                <span class="input-group-text stack">%</span>
                              </div>
                            </div>
                            <hr class="my-4">
                            <!-- <button class="w-100 btn btn-primary btn-lg" type="submit">Calculate</button> -->
                          </form>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span style="width:100%;">
                            Mortgage Insurance
                          </span>
                          <span class="heading-bar float-right">
                            {{pmi | currency:'USD':'symbol':'2.0-2'}} /mo
                          </span>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="col-12 mortageIns">
                            <button type="button" id="pmi-button" (click)="pmiSwitch()">{{pmiButton}}</button><span style="margin-left:2%;" ></span><label>Include mortgage insurance</label>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span style="width:100%;">
                            Home Insurance
                          </span>
                          <span class="heading-bar float-right">
                            {{propInsurance | currency:'USD':'symbol':'2.0-2'}} /mo
                          </span>
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <form  novalidate="">
                            <div class="input-group">
                              <input type="text" #pInsurance class="form-control stack2 mt-5" placeholder="0" required="" (focusout)="propertyInsurance(pInsurance.value)">
                              <div class="input-group-prepend">
                                <span class="input-group-text stack mt-5">/mo</span>
                              </div>
                            </div>
                            <!-- <button class="w-100 btn btn-primary btn-lg" type="submit">Calculate</button> -->
                          </form>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span style="width:100%;">
                            HOA fees
                          </span>
                          <span class="heading-bar float-right">
                            {{hoaFee | currency:'USD':'symbol':'2.0-2'}} /mo
                          </span>
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <form  novalidate="">
                            <div class="input-group">
                              <input type="number" #hoaF class="form-control stack2 mt-5"  placeholder="0" required="" (focusout)="hoaFees(hoaF.value)" >
                              <div class="input-group-prepend">
                                <span class="input-group-text stack  mt-5">/mo</span>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                  <div id="mobile-section" class="mt-5">
                    <button  id="request-info" class="btn  btn-md my-3" (click)="openModalWithClass(requestInfo)">Request Info</button><br>
                    <button  class="btn  btn-md my-3" routerLink ='/forsale'>Return to Listings</button>
                  </div>
              </div>
          </div>
          <!-- Column -->
      </div>
  </div>
</section>
</main>
<ng-template #requestInfo>
  <button 
    *ngIf="isSent!=true"  type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true" style="text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);" >&times;</span>
  </button>
  <button 
    *ngIf="isSent==true"  type="button" class="close" aria-label="Close" (click)="loadListing()">
    <span aria-hidden="true" >&times;</span>
  </button>
  <div *ngIf="isSent!=true" class="contact-box ml-3">
    <h1  class="font-weight-light mt-2">Property Inquiry</h1>
    <form class="mt-4" [formGroup]="contactForm"(ngSubmit)="sendMail()" novalidate="">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group mt-2">
            <input formControlName="firstName" class="form-control"  placeholder="Enter First Name" name="first-name" id="first-name" required>
          </div>
          <div *ngIf="f.firstName.touched && f.firstName.errors" >
            <div class="pb-3 pt-4 valid"   *ngIf="f.firstName.errors">First Name is required</div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group mt-2">
            <input formControlName="lastName" class="form-control" placeholder="Enter Last Name" 
            name="last-name" id="last-name" required>
          </div>
          <div *ngIf="f.lastName.touched && f.lastName.errors" >
            <div class="pb-3 pt-4 valid"   *ngIf="f.lastName.errors">Last Name is required</div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group mt-2">
            <input  formControlName="email" class="form-control"  placeholder="Enter Email" 
            name="email" id="email" required>
          </div>
          <div *ngIf="f.email.touched && f.email.errors">
            <div  class="pb-3 pt-4 valid" *ngIf="f.email.errors.required">Email is required</div>
            <div  class="pb-3 pt-4 valid" *ngIf="f.email.errors">Email must be a valid email address</div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group mt-2">
            <input formControlName="phone" class="form-control stack4" id="phone" placeholder="Enter Number" required="">
          </div>
          <div *ngIf="f.phone.touched && f.phone.errors">
            <div  class="pb-3 pt-4 valid" *ngIf="f.phone.errors.required">Phone number is required</div>
            <div  class="pb-3 pt-4 valid" *ngIf="f.phone.errors">Invalid phone number</div> 
         </div> 
        </div>
        <div class="col-lg-12">
          <div class="form-group mt-2">
            <textarea formControlName="message" class="form-control" rows="3" placeholder="message"></textarea>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group mt-2">
            <label>
              <span id="contact-agent">Contact your agent?&nbsp;&nbsp;&nbsp;</span>
              <input type="checkbox"  (click)="toContactAgent($event)">
              <!--(click)=activeStatus($event) [checked]="activeSelected"-->
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div  class="col-lg-12">
          <div class="form-group mt-2">
            <input *ngIf="contactAgent==true" formControlName="agentName" class="form-control"  placeholder="Agent's Name" name="agent-name" id="agent-name" >
          </div>
          <div class="form-group mt-2">
            <input *ngIf="contactAgent==true"  formControlName="agentEmail"  class="form-control"  placeholder="Agent's Email" name="agent-email" id="agent-email" >
          </div>
          <div class="form-group mt-2">
            <input *ngIf="contactAgent==true"  formControlName="agentPhone" class="form-control"  placeholder="Agent's Phone Number" name="agent-number" id="agent-number" >
          </div>
        </div>
        <div class="col-lg-12 submit-container">
          <button type="submit" [disabled]="!contactForm.valid" class="btn "><span> SUBMIT</span></button>
        </div>
      </div>
      <div id="terms" class="col-lg-12">
        <p>By pressing “Submit", you agree that I or a  real estate professionals from Burke Real Estate Consultants, Inc. may call/text you at the number provided above, including properties related to your inquiry. This contact may involve automated or pre-recorded voice technology. Message & data rates may apply. You also agree that I may share any info you submit and info related to your activity on their site with this property’s listing agent. You don’t need to consent as a condition of any purchase and can revoke your consent at any time. You also agree to the  <a  routerLink="/terms/{{listId}}"  (click)="modalRef.hide()">Terms of Use</a> and  <a  routerLink="/terms/{{listId}}"  (click)="modalRef.hide()">Privacy Policy.</a></p>
      </div>
    </form>
  </div>
  <div *ngIf="isSent==true" class="contact-box ml-3">
    <div class="container">
      <h1 id="thankyou">Thank You</h1>
            <h2 class="title mb-3  font-italic">One of our team members or I will reach out to you shortly!</h2>
        <div class="col-lg-12 mb-5 sent">
          <button type="submit" *ngIf="isSent!=true" (click)="modalRef.hide();" class="btn "><span> SUBMIT</span></button>
          <button type="submit"  *ngIf="isSent==true" (click)="loadListing();" class="btn "><span> View listing</span></button>
        </div>  
    </div>    
  </div>
</ng-template>