@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&family=Noto+Serif&display=swap');
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


main{
  width: 100%;
  height: 100%;
  font-family:'Oswald', sans-serif; 


}

::ng-deep .close{

  font-size: 50px !important;
}

::ng-deep .close:focus{
  outline:none;
  color:red;
}

::ng-deep .modal-title{
  font-size: 2rem;
  margin-left: 117px;
  margin-top: 10px;
}


.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.redirect{
  margin-left: 35%;
  width: 60%;
  margin-bottom:10%;
}

.requestInfoHome{
  outline: none;
  border:none;
  cursor: pointer;
  width:50%;
  height: 80px;
  border-radius: 2px;
  font-size: 2rem;
  line-height: 2;
  border-style:outset !important;
  color:black;
  text-align: center;
  background:linear-gradient(130deg, rgba(199, 255, 255,1) 10%, rgba(162, 255, 227,1) 50%, rgba(36, 207, 170,1) 100%);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24),0 1px 3px 0 rgba(0,0,0,0.19);
}

.requestInfoHome:hover{
  text-decoration: none;
  border-style:groove !important;
  color:rgb(65, 53, 53);
  background:linear-gradient(130deg, rgb(199, 255, 255) 10%, rgb(162, 255, 227) 30%, rgb(36, 207, 170) 100%);
  animation-duration: 1s;
 }
 
 .alert{
  color: crimson;
  font-weight: 500;
  animation-duration: 1s;
 }


 .redirectButtonListing{
  outline: none;
  border:none;
  cursor: pointer;
  width:50%;
  height: 80px;
  margin-top:4%;
  border-radius: 2px;
  font-size: 2rem;
  line-height: 2;
  border-style:outset !important;
  border-color:whitesmoke;
  color:black;
  text-align: center;
  background:linear-gradient(130deg, rgb(255, 245, 252) 10%, rgb(203, 197, 252) 50%, rgb(162, 216, 252) 100%);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24),0 1px 3px 0 rgba(0,0,0,0.19);
}

.redirectButtonListing:hover{
  text-decoration: none;
  border-style:groove !important;
  color:rgb(65, 53, 53);
  background:linear-gradient(130deg, rgb(255, 245, 252) 10%, rgb(203, 197, 252) 50%, rgb(162, 216, 252) 100%);

  animation-duration: 1s;
 }





.image-devices{
  display:none;
}

.image{
  
  height: 100%;

}

.container{
  margin-top:5% !important;
}
.mainText{
  font-size: 18px;
  letter-spacing: 2px !important;
}

.msize{
  left:21rem;
}

.msize2{
  left:15rem;
}



.listingImages{
  margin-top:5%;
  width: 1300px !important;
  right:400px;
}

.imageBackground{
  height: 750px ;
  border: none;

}

.estTitleText{
  letter-spacing: 2px;
  text-align: center;
}

.shade{
  box-shadow:  0px 6px 20px 0 rgba(0,0,0,.775);
}

.homeDetails{
  width:100%;
}

.homeDetails li{
  list-style:none;
  color:  #000000;
 
}

.property-details{
 width:200rem;
}
.property-details-item{
  border-right: 1px solid #4a4a4a;
}

.percentage{
  position: absolute;
  right: 0px;
  width:10%;
}

.bar{
  font-weight:500 !important;
}

.progress{
  height: 35px;
}

.title{
  letter-spacing: 2px;
  text-align: center;
}

.principalProgress{
  border-radius:0;
  background-color:rgba(77, 65, 97, 0.05) !important;
  margin-bottom: 2.5%;
  box-shadow: 0 .3rem .4rem rgba(0,0,0,.395)!important;
  width:70% !important;
}

.propTaxProgress{
  border-radius:0;
  background-color:rgba(77, 65, 97, 0.05) !important;
  margin-bottom: 2.5%;
  box-shadow: 0 .3rem .4rem rgba(0,0,0,.395)!important;
  width:70% !important;
}

.mortInsProgress{
  border-radius:0;
  background-color:rgba(77, 65, 97, 0.05) !important;
  margin-bottom: 2.5%;
  box-shadow: 0 .3rem .4rem rgba(0,0,0,.395)!important;
  width:70% !important;
}

.homeInsProgress{
  border-radius:0;
  background-color:rgba(77, 65, 97, 0.05) !important;
  margin-bottom: 2.5%;
  box-shadow: 0 .3rem .4rem rgba(0,0,0,.395)!important;
  width:70% !important;
}

.hoaProgress{
  border-radius:0;
  background-color:rgba(77, 65, 97, 0.05) !important;
  margin-bottom: 2.5%;
  width:70% !important;
  box-shadow: 0 .3rem .4rem rgba(0,0,0,.395)!important;
}

::ng-deep .progress-bar{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,22,121,1) 48%, rgba(0,121,255,1) 92%)!important;
  box-shadow: 0 .3rem 3rem rgba(0,0,0,.695)!important;
}

.propertyPrice{
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.propoertyTax{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrap{
  position: relative !important;
}

.downPayment{
  width:90%
}

.interest{
  font-size:20px;
  text-align: center;
}

.imageBackground{
  height: 700px;
  width: 1100px;

}
.stack{
  background-color: rgb(0,0,0,0);
  border-radius:0px !important;
  border-style:outset;
  border-width:2px;
  border-color:3px 3px 8px #b1b1b1 !important;
}

.stack2{
  border-radius:0px !important;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff !important;
  border-style:none;
  border-right-style:groove !important;
}

.stack3{
  border-radius:0 !important;
  background-color:red;
}

.stack4{
  border-radius:0px !important;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff !important;
  border-style:none;

}

.button{
  outline: none;
  border:none;
  cursor: pointer;
  width:150px;
  height: 45px;
  border-radius: 2px;
  font-size: 18px;
  border-style:outset !important;
  color:black;
  text-align: center;
  background:linear-gradient(130deg, rgba(199, 255, 255,1) 10%, rgba(162, 255, 227,1) 50%, rgba(36, 207, 170,1) 100%);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24),0 1px 3px 0 rgba(0,0,0,0.19);
}

.button:hover{
  border-style:groove !important;
  color:rgb(65, 53, 53);
  background:linear-gradient(130deg, rgb(199, 255, 255) 10%, rgb(162, 255, 227) 30%, rgb(36, 207, 170) 100%);
  animation-duration: 1s;
}

::ng-deep .panel{
  border-radius:0 !important;
  border-style:none !important;
}

.icon{
  float:right;
  margin-left:30px;
  font-size: 25px !important;
}

::ng-deep .modal-lg{
  width:600px !important;
}

::ng-deep .modal-header{
  border:none;
}

::ng-deep .modal-content{
  border-radius: 0px !important;
  background:linear-gradient(90deg, rgba(255,255,255,1) 52%, rgb(195, 225, 255) 100%)!important;
  width:91% !important;;
  margin-left:4.5% !important;;
}

.contactButton{
  background:linear-gradient(90deg, rgba(255,255,255,1) 35%, rgb(235, 164, 145) 100%)!important;
  outline: none;
  border:none;
  cursor: pointer;
  width:180px;
  height: 65px;
  border-radius: 2px;
  margin-left:30%;
  font-size: 18px;
  border-style:outset !important;
  color:black;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24),0 1px 3px 0 rgba(0,0,0,0.19);
}

.contactButton:hover{
  border-style:groove !important;
  color:rgb(65, 53, 53);
  background:linear-gradient(90deg, rgba(255,255,255,1) 2%, rgb(235, 164, 145) 100%)!important;
  animation-duration: 1s;
}

.pmiButton{
  background:linear-gradient(90deg, rgb(255, 245, 245) 15%, rgb(207, 134, 114) 100%)!important;
  box-shadow:  0px 2px 2px 0px rgba(26, 17, 14, 0.3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  margin-bottom:3% !important;
	height: 50px;
  font-weight: 500;
	position: relative;
	width: 150px;
	-webkit-transition: all .1s linear;
  transition: all .1s linear;
  border:none;
}


.rot:hover{
  transform: rotate(180deg) ;
}

::ng-deep .btn-link{
  color: rgb(236, 248, 245);
}

::ng-deep .card-header.panel-enabled {
  border-radius:0 !important;
  background: linear-gradient(90deg, rgb(188, 202, 247) 0%, rgb(248, 243, 189) 100%) !important;
  box-shadow: 0 .2rem .35rem rgba(0,0,0,.295)!important;

}

::ng-deep .panel .panel-body{
  background: linear-gradient(90deg, rgba(255,255,255,1) 52%, rgba(237,246,255,1) 100%);
  box-shadow: 0 .2rem .35rem rgba(0,0,0,.295)!important;
}

.panel1{
  height:6%;
}

::ng-deep .panel{
  margin-bottom:5%;
}

.heading {
  color:rgb(0, 0, 0);
}


@media (max-width:1100px){
  .delta{
    background-image: none !important;
  }

  .requestInfoHome{
    width: 550px;
    height: 160px;
    font-size: 4.3em;
    line-height: 2;
    margin-left: -10%;
  }  
  
   .redirectButtonListing{
    width: 550px;
    height: 160px;
    font-size: 4.3em;
    line-height: 2;
    margin-left: -10%;
   }
  
  main{
    padding-left: 4.25rem;
  }

  .container{
    width:150%;
  }

  .featurette{
    margin-left: 8%;
  }
  
  

  ::ng-deep .modal-lg{
    width:1060px !important;
    height: 14200px !important;
    margin-top: 60px;
  }

  ::ng-deep .fade{
    width:100%;
    height:100%;
  }

  .modalClose{
    font-size: 6rem;
    
  }

  .modalClose:focus{
    outline: none;
  }



  ::ng-deep .modal-title{
    font-size: 7rem;
    text-align: center;
  }

  ::ng-deep .modal-body{
    font-size: 5.5rem;
  }

  .stack4{
    font-size:4.5rem;
  }

  .contactButton{
    font-size: 5.5rem;
    width:500px;
    height: 170px;
    margin-left:200px;
  }

  .interest{
    display: none;

  }

  .listingImages{
    margin-top:200px;
    width: 960px !important;
    display: none !important;
  }

  .image-devices{
    display: flex;
    width: 1350px;
  }


  .infoProgress{
    font-size:2.45rem;
  }

  .headerText{
    font-size: 6.5rem;
    padding-top: 9%;
    margin-left: 200px;
    width: 900px;
    padding-bottom: 5%;
  }

  .priceText{
    margin-left: 5%;
    font-size: 9.65rem;
    width: 800px;
  }

 .alignCenter{
   margin-left: 100px;
   max-width:none;
 }

 .panel1{
   height: 30px;
 }

 .estTitleText{
    font-size:3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 95px;
  }

  .detailsText{
    font-size:2.8rem;
    width:900px;
    margin-left: 15%;
  }

  .mainText{
    font-size: 2.rem;
    letter-spacing: 2px !important;
    align-items: center ;
  
  }

  .estTitleText{
    width: 950px;
    font-size:5.3rem;
  }

  .lead{
    font-size:3.2rem;
  }

  .bar{
    font-size:2.46rem;
    height: 70px;

  }

  .bar1{
    font-size:2.5rem;
    height:100px;
  }

  ::ng-deep .panel{
    width:950px;
  }

  ::ng-deep .card{
    min-width: 500px !important;

  }

  ::ng-deep .principalProgress{
    min-width: 950px;
  }

  ::ng-deep .propTaxProgress{
    min-width: 950px;
  }

  ::ng-deep .mortInsProgress{
    min-width: 950px;
  }

  ::ng-deep .homeInsProgress{
    min-width: 950px;
  }

  ::ng-deep .hoaProgress{
    min-width: 950px;
  }

  .pricing-card-title{
    margin-left:0px;
    font-size: 6rem;
    padding-bottom:50px;
  }

  .button{
    z-index: 0;
    position: absolute;
    width:750px;
    height: 200px;
    font-size: 7.5rem;
    margin-left: 50%;
    border-style:outset !important;
    transform: translateX(-50%);

  }

  .propMargin{
    margin-top:210px;
  }

  .marketing{
    width: 960px !important;
  }

  .g-3{
    font-size:3.5rem;
  }

  .stack{
    font-size:4rem;
  }

  .stack2{
    font-size:3rem;
  }

  .stack3{
    font-size:2rem;
  }

  .custom-select{
    height:100px;
    font-size:3rem;
  }

  .pmiButton{
    width:400px;
    height: 150px;
  }

  .mortageIns{
    font-size:3rem;
  }
}



@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

  

}

@media (max-width:1025px) and (max-height:1367px){
  
  #inquire-title{
    margin-top: 5%;
    text-align: center;
    font-size: 5rem;
  }

  #inquire-subtitle{
    text-align: center;
    font-size: 2.5rem;
  }
  
  .msize{
    left:-1rem;
  }

  .delta{
    background-image: none !important;
  }

  .modal-body {
    font-size: 3.5rem;
}

.stack4{
  font-size: 2.4rem;
}

.modal-title{
  font-size: 4rem;
}

  ::ng-deep .modal-lg{
    width:1260px !important;
    height: 14200px !important;
    margin-top: 60px;
  }


  .modal-box{
    padding: 16px;
    font-family:'Oswald', sans-serif !important;
  }


  .modal-box label{
    font-size:3.5rem;
  }

  .modal-box input{
    font-size: 3.25rem;
    width: 1105px;
  }



  .inquire-form{
    margin-top: 10%;
  }

  ::ng-deep .modal-dialog{
    max-width:1900px;
  }

  .close span{
    font-family:'Oswald', sans-serif !important;
    font-size: 10rem;
    position: absolute;
    left:1050px; 
 
  }

  .contactButton{
    margin-left: 30%;
    margin-top: 5%;
    font-size: 5rem;
    width: 450px;
    height: 160px;
    font-family:'Oswald', sans-serif !important;
    padding-bottom: 2%;
    margin-bottom: 10%;
  }


  .imageBackground{
    height: 700px;
    width: 58.5rem;

  }

  .pricing-card-title{
    font-size:5rem;
    margin-left: 10%;
  }

  .msize2{
    left:-1rem;
  }

  .homeDetails{
    margin-left: 18rem;
    width: 700px;
  }
  .lead{
    font-size:2.8rem;
  }
}

@media (max-width:913px) and (max-height:1369px){
  ::ng-deep .modal-content {
    border-radius: 0px !important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 52%, rgb(195, 225, 255) 100%)!important;
    width: 1300px !important;
    margin-left: -11% !important;
} 

#inquire-title{
  margin-top: 5%;
  text-align: center;
  font-size: 5rem;
}

#inquire-subtitle{
  text-align: center;
  font-size: 2.5rem;
}

.modal-box{
  padding: 16px;
  font-family:'Oswald', sans-serif !important;
}
.modal-box label{
  font-size:3.5rem;
}
.modal-box input{
  font-size:3.25rem;
}
.inquire-form{
  margin-top: 10%;
}
::ng-deep .modal-dialog{
  max-width:1900px;
}
.close span{
  font-family:'Oswald', sans-serif !important;
  font-size: 10rem;
  position: absolute;
  left: 1100px;
}

.listingImages{
  margin-left: -21px;
}

.marketing{
  margin-right: 40%;
}

  .featurette{
    margin-left: 15%;
    
  }
  .headerText{
    padding-top: 15%;
    padding-bottom: 5%;
    width: 1100px;
    margin-left: 10%;
    font-size: 7.35rem;
  }

  .pricing-card-title{
    margin-left: 100px;
    width:1100px;
  }

  .infoProgress{
    font-size:3.45rem;
    max-width: 2000px !important;
  }
 
  .estTitleText{
    width: 1100px;
    font-size: 9rem;padding-top: 15%;
    padding-bottom: 5%;
    width: 1100px;
    margin-left: 10%;
    font-size: 7.35rem;  }

  .msize{
    left:0;
  }

  .msize2{
    left:0;
  }

  .alignCenter{
    margin-left: 0%;
  }

  .detailsText{
    margin-left: 110px;
  }

  .contactButton{
    margin-left: 30%;
    margin-bottom: 5%;
  }

  .button{
    margin-left: 450px;
  }

  .priceText{
    margin-left: 100px;
  }

  .homeDetails{
    width: 1100px;
    margin-left:10%;
  }

  .lead{
    font-size: 4.5rem;
  }

  .redirect{
    margin-left: 60%;
    margin-bottom: 45%;
  }

  .imageBackground {
    height: 850px;
    width: 1200px;
    margin-left: 5%;
}
  .modal-title{
    font-size: 6rem;
    margin-left: 200px;
  }
}

@media (max-width:821px) and (max-height:1181px){
  ::ng-deep .modal-content {
    border-radius: 0px !important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 52%, rgb(195, 225, 255) 100%)!important;
    width: 1200px !important;
    margin-left: 2% !important;
}

 .contactButton{
  margin-left: 32.5%;
 }

.modal-box label{
  font-size:3.5rem;
}
.modal-box input{
  font-size: 4.25rem;
  width: 1230px;
}

}


@media (max-width:769px) and (max-height:1025px){

  .delta{
    background-image: none !important;
  }

  #inquire-subtitle{
    text-align: center;
    font-size: 2.5rem;    
  }

  .imageBackground{
    height: 900px;
    width: 1200px;

  }

  .contactButton {
    margin-left: 32%;
  }

  .close span{
    left: 1100px;
  }
  
  
  

  .line{
    width:940px;
  }

  ::ng-deep .modal-dialog{
    max-width:980px !important;
  }

  ::ng-deep .modal-lg{
    width:100% !important;
    height: 100% !important;
    margin-top: 60px;
  }

  ::ng-deep .modal-content {
    width: 1270px !important;
    margin-left: -14.5% !important;
}
}


@media (max-width:541px) and (max-height:721px){
  .delta{
    background-image: none !important;
  }
  .container{
    width:150%;
  }

  ::ng-deep .modal-lg{
    width:1060px !important;
    height: 14200px !important;
    margin-left: 30px;
    margin-top: 60px;
  }

  ::ng-deep .modal-dialog{
    max-width: none;
  }

  main{
    margin-left: .75rem;
  }

  .msize{
    left:0rem;
  }

  .msize2{
    left:0rem;
  }

  .homeDetails{
    margin-left: .5rem;
  }


  ::ng-deep .fade{
    width:100%;
    height:100%;
  }

   .modalClose{
    font-size: 6rem;
  }

  ::ng-deep .modal-title{
    font-size: 7rem;
    text-align: center;
  }


  ::ng-deep .modal-body{
    font-size: 5.5rem;
  }

  .stack4{
    font-size:4.5rem;
  }

  .contactButton{
    font-size: 5.5rem;
    width:500px;
    height: 170px;
    margin-left:200px;
  }



  .interest{
    display: none;

  }

  .line{
    width:980px !important;
  }

  .listingImages{
    margin-top:200px;
    width: 960px !important;

  }

  .infoProgress{
    font-size:3.45rem;
  }
  .headerText{
    font-size:9rem;
    padding-top:9%;
    margin-left:80px;
    padding-bottom:5%;

  }

  .priceText{
    margin-left: 30px;
    font-size: 9.65rem;
    width: 800px;
  }


 .alignCenter{
   margin-left: 100px;
 }


 .panel1{
   height: 30px;
 }


  .estTitleText{
    font-size:3.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:60px;

  }


  .detailsText{
    font-size:4.8rem;
    width:900px;
    margin-left: -30px;
  }

  .mainText{

    font-size: 2.rem;
    letter-spacing: 2px !important;
    align-items: center ;
    padding-bottom: 20rem;
  }

  .estTitleText{
      width: 800px;
      font-size:9rem;
  }

  .lead{
    font-size:4.8rem;
  }

  .bar{
    font-size:3.2rem;
    height: 100px;

  }

  .bar1{
    font-size:2.5rem;
    height:100px;
  }

  ::ng-deep .panel{
    width:950px;
  }

  ::ng-deep .card{
    min-width: 500px !important;
  }

  ::ng-deep .principalProgress{
    min-width: 950px;

  }

  ::ng-deep .propTaxProgress{
    min-width: 950px;

  }

  ::ng-deep .mortInsProgress{
    min-width: 950px;
  }

  ::ng-deep .homeInsProgress{
    min-width: 950px;
  }

  ::ng-deep .hoaProgress{
    min-width: 950px;

  }

  .pricing-card-title{
    margin-left:0px;
    font-size: 6rem;
    padding-bottom:50px;
  }

  .button{
    z-index: 0;
    position: absolute;
    width:750px;
    height: 200px;
    font-size: 7.5rem;
    margin-left:370px;
    border-style:outset !important;
    transform: translateX(-50%);

  }

  .propMargin{
    margin-top:210px;
  }

  .marketing{
    width: 960px !important;
  }

  .g-3{
    font-size:3.5rem;
  }

  .stack{
    font-size:4rem;
  }

  .stack2{
    font-size:3rem;
  }

  .stack3{
    font-size:2rem;
  }

  .custom-select{
    height:100px;
    font-size:3rem;
  }

  .pmiButton{
    width:400px;
    height: 150px;
  }

  .mortageIns{
    font-size:3rem;
  }

}
@media (max-width:441px){

  #inquire-title{
    font-size: 7rem;
    text-align: center;
  }

 #inquire-subtitle{
  font-size: 3.5rem;
  text-align: center;
 }
  .image-devices{
    display: flex;
    width: 1470px;
  }

  .redirect{
    margin-left: 65%;
    margin-top: -15%;
    width: 65%;
    margin-bottom: 35%;
  }
  
  .infoProgress{
    font-size: 3.45rem;
  }

  
  .requestInfoHome{
    width: 580px;
    height: 160px;
    font-size: 4.3em;
    line-height: 2;
    margin-left: -25%;
  }  
    
   .redirectButtonListing{
    width: 580px;
    height: 160px;
    font-size: 4.3em;
    line-height: 2;
    margin-left: -25%;
   }
    
   .marketing{
    width: 1200px !important;
    margin-left: -90%;
  }
  .listingImages{
    margin-left: 21%;
  }

  .imageBackground{
    width: 1250px;
    height: 900px;  
  }


  .alignCenter{
    margin-left: -15%;
    width: 600px;
    margin-top: 10%;
  }

  .alignCenter1{
    margin-left: 0%;
    width: 600px;
  }

  .priceText{
    margin-left:300px;
  }

  .bar1{
    width: 1080px !important;
  }
  .bar{
    font-size:3.46rem;
    height: 100px;

  }

  ::ng-deep .panel{
    width: 1080px !important;
  }


  .headerText{
    margin-left: 0px;
    font-size: 9rem;
  }

  .inquire-form{
    margin-top: 2.5% !important;
  }

  .detailsText{
    margin-left: 260px;
    font-size: 4.3rem;
  }

  .line{
    display: none;
  }

  .featurette{
    margin-left: 30%;
    margin-bottom: 20%;
}

.homeDetails{
  width: 1000px;
  margin-left: 225px;
}


  ::ng-deep .modal-content {
    border-radius: 0px !important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 52%, rgb(195, 225, 255) 100%)!important;
    width: 1400px !important;
    margin-left: 7% !important;
 }

  .modal-box{
    padding:20px;
  }

  .button{
    margin-left: 645px;
  }

  .lead{
    margin-left: -12rem;
  }

  .delta{
    background-image: none !important;
    margin-left: 4.5rem
  }
  
  .pricing-card-title{
    margin-left: 350px;
  }

  .estTitleText{
    width: 1200px;
    margin-left: 300px;
    margin-top: -5%;
  }

  .msize2{
    margin-left:-23px;
  }

  .msize{
    margin-left:-23px;
  }

  ::ng-deep .modal-lg{
   margin-left: -6px !important; 
   width:500px;
  }

  .contactButton{
    margin-left: 22.5%;
  }

  .stack4{
    width: 90%;
  }
  
}

@media (max-width:414px) {
  ::ng-deep .modal-content{
    margin-left: 4% !important;
  }

  .close span{
    left: 1250px;
  }

  .modal-box label{
  font-size: 5.5rem;
  }

  .modal-box input{
    font-size: 6.5rem;
    width: 1350px;
  }

  .contactButton{
    margin-left: 28%;
    font-size: 8.5rem;
    width: 600px;
    height: 280px;
  }
}



@media (max-width:376px) and (max-height:668px){
  .alignCenter{
    margin-left: -12%;
    padding-top: 5%;
  }

  .featurette{
    margin-bottom: 0%;
  }

  .redirect{
   
    margin-top: 5%;
    width: 65%;
    margin-bottom: 15%;
  }

  .mainText{
    padding-bottom: 0%;
  }

  .headerText{
    margin-top: 25%;
  }

  .line{
    margin-top: 0% !important
  }
}


@media (max-width:321px) and (max-height:569px){
  .delta{
    margin-left: 0rem;
  }

  .modal-box input{
    font-size: 5.5rem;
    width: 1160px;
  }
 
  .modal-box label{
    font-size: 4.5rem;
    width: 1160px;
  }

  
  .alignCenter1{
    margin-left: 10px;
  }

  .alignCenter{
    margin-left: -20px;
  }

  .listingImages{
    margin-left: 17.5%;
  }

  .modal-title{
    margin-left: 5%;
    width:90%;
  }

 ::ng-deep .modal-content{ 
    width: 1220px !important;
  }

  .homeDetails{
    margin-left: 35%;
  }

  .line{
    margin-top: 0% !important;
  }

  .estTitleText{
    width: 1100px;
    margin-top: -15%;
    margin-left: 230px;

  }

  .mainText{
    padding-bottom: 5rem;
  }

  .pricing-card-title{
    margin-left: 250px;
  }

  .featurette{
    margin-left: 300px;
    margin-bottom: 10%;
  }

  .imageBackground{
    width: 1150px;
    height: 900px;
  }

  .headerText{
    margin-left: 0px;
  }

  .button{
    margin-left: 525px;
  }

  .contactButton{
    margin-left: 25%;
  }

  .msize2{
    padding-bottom: 8rem;
  }

  .priceText{
    margin-left: 200px;
  }

  .detailsText{
    margin-left: 155px;
  }

  .redirect{
    margin-top: -12%;
    margin-bottom: 300px;
  }
}