@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slit-in-diagonal-2 {
        0% {
          -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
                  transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
                  transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
          -webkit-animation-timing-function: ease-in-out;
                  animation-timing-function: ease-in-out;
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
                  transform: translateZ(0) rotate3d(-1, 1, 0, 0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      @keyframes slit-in-diagonal-2 {
        0% {
          -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
                  transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
                  transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
          -webkit-animation-timing-function: ease-in-out;
                  animation-timing-function: ease-in-out;
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
                  transform: translateZ(0) rotate3d(-1, 1, 0, 0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      
      @-webkit-keyframes slit-in-horizontal {
        0% {
          -webkit-transform: translateZ(-800px) rotateX(90deg);
                  transform: translateZ(-800px) rotateX(90deg);
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotateX(87deg);
                  transform: translateZ(-160px) rotateX(87deg);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotateX(0);
                  transform: translateZ(0) rotateX(0);
        }
      }

@keyframes slit-in-horizontal {
        0% {
          -webkit-transform: translateZ(-800px) rotateX(90deg);
                  transform: translateZ(-800px) rotateX(90deg);
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotateX(87deg);
                  transform: translateZ(-160px) rotateX(87deg);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotateX(0);
                  transform: translateZ(0) rotateX(0);
        }
      }
      

.slit-in-horizontal {
	-webkit-animation: slit-in-horizontal 1.2s ease-out both;
	        animation: slit-in-horizontal 1.2s ease-out both;
}

.slit-in-diagonal-2 {
	-webkit-animation: slit-in-diagonal-2 1.2s ease-out both;
	        animation: slit-in-diagonal-2 1.2s ease-out both;
}

@-webkit-keyframes tilt-in-tl {
        0% {
          -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
                  transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
                  transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
          opacity: 1;
        }
      }
      @keyframes tilt-in-tl {
        0% {
          -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
                  transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
                  transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
          opacity: 1;
        }
      }
      
      .tilt-in-tl {
              position: relative;
              z-index: 0 !important;
	-webkit-animation: tilt-in-tl 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-tl 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main-listing{
        display:flex;
        width: 100%;
        font-family:'Oswald', sans-serif;     
        font-size: 28px;
        flex-wrap:wrap;
        justify-content: center;
}




::ng-deep footer{
        width: 100%;
      }

#loan-program{
        border-color:#d8d67f;
        width: 100%!important;
        display: inline-block;
        outline-color: #d8d67f;
      }

.image{
        width: 60%;
        height: auto;
}

.stack2{
      
        border-color:#d8d67f !important;
        outline-color: #d8d67f !important;     
}

.stack{
        border: 1px solid #d8d67f !important;
        outline-color: #d8d67f !important;     
}

#pmi-button{
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
        background-color: #FFFFFF !important;
        font-size: 30px !important;
}

#contact-agent{
        font-size: 2.1rem;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

label :hover{
        color: rgb(226, 186, 84);
}

#pmi-button:hover{
        background: rgb(247, 242, 213) !important;
        background: linear-gradient(90deg, rgba(247, 242, 213,.3) 0%, rgba(255,255,255,.3) 55%) !important;
        border-color: rgb(226, 186, 84);
        transition: 200ms ease-in-out;
}
input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      
      input[type="checkbox"]+span {
        color: rgb(24, 22, 4);
        
      }

 input[type="checkbox"]+span:before {
        font: 20pt FontAwesome;
        content: '\00f096';
        color: rgb(22, 20, 4);
        display: inline-block;
        width: 10pt;
        padding: 2px 0 0 3px;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
        margin-right: 0.5em;
      }
      
      input[type="checkbox"]:checked+span:before {
        font: 22pt FontAwesome;
        content: '\00f046';
        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
        color: rgb(150, 137, 23);
      }
       


.image{
        margin-top: 10%;
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.image-device{
   display: none;
   
}

.service-14 {
      color: #291922;
  font-weight: 300;
  }

.service-14 h3{
        font-size: 42px !important;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.service-14 .btn{
        border-radius: 0px;
        border-width: 5px;        border-color: #1f0616;
        font-size: 28px !important;
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.service-14 .btn:hover{
        background: rgb(247, 242, 213) !important;
        background: linear-gradient(90deg, rgba(247, 242, 213,.3) 0%, rgba(255,255,255,.3) 55%) !important;
        border-color: rgb(226, 186, 84);
        transition: 200ms ease-in-out;
}

  .service-14 h1, .service-14 h2, .service-14 h3, .service-14 h4, .service-14 h5, .service-14 h6 {
  color: #3e4555;
  }

  .service-14 h3 {
      line-height: 36px;
      font-size: 30px;
      text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  }

  .service-14 h6 {
      line-height: 22px;
      font-size: 18px;
  }

  .service-14 .badge {
      line-height: 14px;
  }

  .service-14 .badge-info {
      background: #188ef4;
  }

  .service-14 .font-weight-medium {
      font-weight: 500;
  }

  .service-14 a {
      text-decoration: none;
  }

  .service-14 .linking {
      color: #3e4555;
  }

  .service-14 .linking:hover {
      color: #316ce8;
  }

  .service-14 .btn-info-gradiant {
          background: #188ef4;
      background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
      background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
      background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
  }

  .service-14 .btn-info-gradiant:hover {
          background: #316ce8;
      background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
      background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
      background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
      background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
      background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
  }

  .service-14 .btn-md {
      padding: 15px 45px;
      font-size: 16px;
  }

  .service-14 ul{
        list-style-type: none;
        position: relative;
        left: -25px;
    }


    .service-14 .container .sect{
            letter-spacing: 2px;
            display: grid;
            justify-content: center;
        margin-top: 1%;
}

.service-14 .container .sect h3{
        line-height: 1.4;
}


 ::ng-deep .progress{
        height: 2.5rem;
        font-size: 2.2rem;
 }
 ::ng-deep .panel span{
        font-size: 2rem;
 }

.infoProgress{
        font-size: 1.2rem !important;
}


.accordion-collapse{
        border-radius: 0px;
        background: #ffffff;
        box-shadow: inset 5px 5px 8px #bfbfbf,
            inset -5px -5px 8px #ffffff;
        padding-bottom: 5%;
        
}





.accordion-button:focus {
       
        box-shadow: 0px 0px 0px 4px rgba(51, 47, 24,.4) !important;
      }

 .accordion-button {
        background-color:#fff;
    }

    .accordion-button::after{
        position: relative;
        right: 285px;
        margin-left: auto;
}
    .heading-bar{
            width: 250px;
            text-align: right;

    }

      
     

      .accordion{
              border: none !important;
              border-radius: 0px;
      }


      .accordion-button:not(.collapsed) {
        color: #01050c !important;
       
    }
.accordion-button{
        font-size: 24px;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
        border-radius: 0px !important;
        border: none;
        background: rgb(134, 126, 78) !important;
        background: linear-gradient(90deg, rgba(189, 176, 101, 0.3) 0%, rgba(240, 238, 193, 0.3) 75%) !important;
}

.accordion-header{
        border: none !important;
         box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.accordion-item{
        border-radius: 0px;
        border: none !important;
}

.accordion-item form input{
        box-shadow: inset 5px 5px 8px #bfbfbf,
        inset -5px -5px 8px #ffffff !important;
        border-radius: 0px !important;
        border-style: solid !important;
        border-color: #241f02;
        margin-left: 2%;
}

.accordion-item form input:after {
        content: '<>' !important;
        font: 17px "Consolas", monospace;
        color: rgb(177, 9, 9);
}

.accordion-item form span{
        background: none;
        border-radius: 0px !important;
        border-style: inset;
        border-color: #241f02;
        margin-right: 2.5%;

      
}
.accordion-item form{
        border-radius: 0px !important;
}

.accordion-button:not(.collapsed)::after {
        background-image: url("../../assets/accorddian.svg");
        transform: rotate(-180deg);
    }


#mobile-section{
        display: none;
}

#request-info{
        font-size: 37px !important;
        color: #181a10e4;
}

@media (max-width:1200px) {
    .accordion-button::after{
         position: relative;
         right: 190px;
         margin-left: auto;
    }
        
}

@media (max-width:950px){
   .service-14{
           text-align: center;
   }

   .image{
           width: 80%;
           height: auto;
           margin-top: 15%;
   }

   .accordion-button::after{
        position: relative;
        right: 320px;
        margin-left: auto;
   }

   ::ng-deep .close{
        left: 430px;
        top:-30px;
      }

      ::ng-deep .modal-content .contact-box{
              margin-top: -10%;
      }

}









/* 

@media (max-width:1380px) and (min-width:1026px){
        .image-device{
            display: flex;
            width: 2115px;
         }
        .image{
           display: none;
        }
      
        .service-14{
                width: 2115px;
        }
      
        .service-14 .container{
              min-width: 1700px;
        }
      
        .service-14 h3 {
          
              font-size: 4.25rem !important;
              width: 800px;
              margin-bottom: 3% !important;
          }
      
        .service-14 ul li {
         
            font-size: 2.25rem;
        }
      
        .service-14 p {
       
              font-size: 2.25rem;
          }
      
          .service-14 .btn-md{
              font-size: 2.6rem;
         }

         
      
       .accordion-body form select{
               font-size: 1.25rem;    
       }
       .accordion-body form span{
               font-size: 1.25rem;       
       }
       .accordion-body form label{
               font-size: 1.25rem;    
       }
       .accordion-body form input{
               font-size: 1.25rem;    
       }
      
       .accordion-button::after {
              position: relative;
              right:350px;
              margin-left: auto;
          }
      
       #pmi-button{
              font-size: 1.55rem;    
      }
      
      .mortageIns{
              font-size: 1.25rem;
      }
      
      .input-mortage input{
              font-size: 3rem;
      }
      
      
      
      
}


  @media (max-width:1290px){
        .image{
                margin-top: 10%;
                margin-left:14%;
                width:900px;
        }


  }


  @media (width: 1280px) and (max-height: 800px){
        .image-device{
                width: 1658px;
        }
        .service-14{
                width:1180px;
                margin-left: 20%;
        }

        .service-14 .container {
                min-width: 940px;
            }


        .service-14 .container h3{
                font-size: 3rem !important;
        }

        .accordion-button::after{
                right: 250px;
        }
       
       
       
      }

@media (max-width:1025px){
  .image-device{
      display: flex;
      width: 1955px;
   }
  .image{
     display: none;
  }

  .service-14{
          width: 1955px;
  }

  .service-14 .container{
        min-width: 1700px;
  }

  .service-14 h3 {
    
        font-size: 4.25rem !important;
        width: 800px;
        margin-bottom: 3% !important;
    }

  .service-14 ul li {
   
      font-size: 2.25rem;
  }

  .service-14 p {
 
        font-size: 2.25rem;
    }

    .service-14 .btn-md{
        font-size: 2.6rem;
   }

 .accordion-body form select{
         font-size: 1.25rem;    
 }
 .accordion-body form span{
         font-size: 1.25rem;       
 }
 .accordion-body form label{
         font-size: 1.25rem;    
 }
 .accordion-body form input{
         font-size: 1.25rem;    
 }

 .accordion-button::after {
        position: relative;
        right:350px;
        margin-left: auto;
    }

 #pmi-button{
        font-size: 1.55rem;    
}

.mortageIns{
        font-size: 1.25rem;
}

.input-mortage input{
        font-size: 3rem;
}

::ng-deep #terms{
        font-size: 1.5rem;
      }

      ::ng-deep .modal-content .contact-box{
              position: relative;
              top:-70px;
      }
      
      ::ng-deep .modal-content .contact-box .font-weight-medium {
        font-weight: 500;
      }
      
     
      ::ng-deep .modal-content .contact-box h1{
        font-size: 4.5rem; 
      }

      ::ng-deep .modal-content .contact-box form input{
              font-size: 3.5rem;
      }

      ::ng-deep .modal-content .contact-box form textarea{
        font-size: 3.5rem;
}

::ng-deep .modal-content .contact-box h1{
              text-align: center;
              margin-bottom: 2.5%;
      }

      ::ng-deep .modal-content .contact-box .btn{
        margin-top:5%;
        font-size: 4rem !important;
        left:40%;
      }


         

       ::ng-deep .modal-content{
       width:165%;
       margin-left: -29.5%;
     
       }

      ::ng-deep .close{

        font-size: 10rem !important;
        width: 55px;
        position: relative;
        margin: 0px;
        left: 1200px;
        border:none;
        background:none;
      }




}

@media (max-width:921px){
        .main-listing{
                margin-left: -15%;
        }

        #price{
                font-size: 10rem !important;
        }

        .service-14{
                width: 1300px;
        }

        .service-14 .container{
                min-width:850px !important;
          }
        .service-14 h3 {
  
                font-size: 5rem !important;
                width: 1100px;
                line-height: 1.2;
                text-align: center;
              
            }
            .service-14 ul{
                margin-left: 25%;
                width: 1100px;
                list-style-type:none;
            }
          .service-14 ul li {
              font-size: 3.35rem;
          }
          .service-14 p {
                font-size: 3rem;
               
            }


        .image-device{
                width: 1415px;
        }
        #address{
                position: relative;
                left: 275px;
        }

        #request-info{
                font-size: 6.65rem !important;
        }

        .service-14 .btn-md{
          font-size: 5rem !important;
          position: relative;
          left:275px;
        }       
        .contact3 form div
        {
            font-size: 3rem;
        }

        #mobile-section{
                align-content: center;
                display:block;
                margin-top: 7%;
        }

        #return-to-listing{
                display: none;
        }

        ::ng-deep .progress{
          height: 8rem;
          width:1225px !important;
          font-size: 3rem;
        } 

         ::ng-deep .panel{
                width: 1200px;
         }

         ::ng-deep .panel .card{
                height: 7rem;
         }

         ::ng-deep .panel span{
                font-size: 3rem;
         }

         ::ng-deep .close{
                font-size: 9rem !important;
                left: 730px;
                top:-45px;
        }

        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }

        ::ng-deep .modal-content{
                width:165%;
                margin-left: -29.5%;
        }
            
            

        .infoProgress{
                font-size: 4rem !important;                  
        }

        

        .accordion{
                width:1200px;

        }

        .accordion span{
               font-size: 3rem;
               line-height: 3;
        }

        .accordion-button::after{
                width: 5.25rem;
                height: 5.25rem;
                position: relative;
                right: 550px;
                margin-left: auto;
                background-size: 5.25rem;
        }
        .accordion-body form span{
                font-size: 3rem;    
        }

        .accordion-body form select{
                font-size: 5rem;
                padding-bottom: 20px;
                padding-top: 20px;
                padding-left: 30px;
        }

        .accordion-body form label{
                font-size: 3rem;    
        }

        .accordion-body form input{
                font-size: 3rem;    
        }

        .heading-bar{
                width: 700px;
                text-align: right;
        }


        #chart{
                font-size: 3rem;
        }

        .accordion-item form input{
                font-size: 5rem;    
        }
            
}

@media (max-width: 821px) {
        .main-listing{
        margin-left: -2.5%;
        }

        .image-device{
                width: 1475px;
        }

        .service-14{
                width: 100%;
                margin-left: 16%;
        }
        
}

@media (max-width: 768px){
        .image-device{
                width: 1450px;
        }
}


@media (max-width: 541px) {


        .image-device{
                width: 1800px;
        }

        .service-14{
                margin-left: 58%;
        }

        .service-14 ul{
                position: relative;
                left: 270px;
                width: 900px;
                margin-left: -2%;       
        }

        

        .accordion-body form input{
                font-size: 5rem;    
        }

        .accordion-item form input{
                font-size: 5rem;    
        }

        .accordion-body label{
                font-size: 3rem;    
        }

        .accordion-item form button{
               width:400px;  
        }

        .accordion-body form  select:after{
               font-size: 300px !important;
        }

        .accordion-body form select{
                font-size: 5rem;    
                background-repeat: no-repeat;
                
        }
        .accordion-body form span{
                font-size: 5.25rem;
                width: 175px;
                text-align: center;  
        }
        .accordion-body form label{
                font-size: 5rem;
                
        }

        .accordion-button{
                padding: 0rem 0rem .2rem 2rem !important;
        }

        .accordion-button::after{
                width: 5.25rem;
                height: 5.25rem;
                position: relative;
                right: 550px;
                margin-left: auto;
                background-size: 5.25rem;
        }

        .heading-bar{
                width: 700px;
        }

        #pmi-button{
                font-size: 8.5rem;
                margin-top: 6%;
                background: linear-gradient(90deg, rgba(189, 176, 101, 0.3) 0%, rgba(255,255,255,.3) 75%);
        }

        ::ng-deep .modal-content{
                right: -50px;
        }
        
}

*/
@media (max-width: 485px){
.main-listing{
        width: 1560px;
}

::ng-deep footer{
        width: 1565px;
      }

/* #contact-agent{
        font-size: 4.2rem;
} */

#loan-program{
font-size: 5.5rem;
}



input[type="checkbox"] + span:before {
        font: 75pt FontAwesome;
    }

input[type="checkbox"]:checked + span:before {
        font: 75pt FontAwesome;
    }

.service-14{
        display:flex;
        flex-direction: column;
        text-align: center;
        line-height: 1.6;
}
.service-14 h3{
        font-size: 6.5rem !important;
}


.service-14 ul li        {
        font-size: 5.5rem;
}

.service-14 .container .sect{
        margin-top: 12%;
        letter-spacing: 3px;
}


.accordion-item form input{
        font-size: 5rem;  
        height: 140px;
        border-style: solid !important; 
        border-width: 1px;
        border-color:rgb(31, 27, 7) !important;
}

.input-group-append span{
        border-style: outset !important; 
        border-width: 1px;
        border-color:rgb(31, 27, 7) !important;
}

.input-group-prepend span{
        height: 140px !important; 
        border-style: outset !important; 
        border-width: 1px !important;
        border-color:rgb(31, 27, 7) !important;
}

.accordion-body label{
        font-size: 5.5rem;
}

#pmi-button{
        font-size: 5rem !important;
}
        
#address{
        font-size: 4.2rem;
    }

#mobile-section{
       display: grid;       
}

#mobile-section button{
        font-size: 6rem !important;
}

#request-info{
        display: grid;
        width: 100%;
        font-size: 6rem !important;
}

#return-to-listing{
        display: grid;
        width: 100%;
        font-size: 6rem !important;
}

.image{
        display: none;
}

.image-device{
        display: flex;
        width: 1565px !important;
        height: 1450px;
}




.accordion span{
        font-size: 4.1rem;
}


.infoProgress {
        font-size: 4rem !important;
}

::ng-deep.progress-bar span {
        font-size: 4.5rem !important;
}

::ng-deep.progress {
        height:110px !important;
}

.accordion-header{
   height: 110px;
}

.heading-bar{
        width: 100%;
        height: auto;
        text-align: right;
}

.accordion-button{
  height: 210px;
}

.accordion-header{
  height: 210px;
}

.accordion-button::after{
    position: relative;
    right: 45%;
    margin-left: auto;
    width: 4.25rem;
    height: 4.25rem;
    background-size: 3.25rem !important;
}


.accordion-body form span {
        font-size: 5.25rem;
    }

.service-14 .btn-md{
        font-size: 3rem !important;
}

/* ::ng-deep .close{
        font-size: 18rem !important;
        left:1340px;
        top:-120px;
}
::ng-deep .modal-content .contact-box .btn{
        font-size: 8rem !important
        
}
::ng-deep .modal-content {
        width: 100% !important;
        
    }

    

::ng-deep #terms{
        font-size: 2.5rem;
}

::ng-deep .modal-content .contact-box{
        position: relative;
        top:-100px;
}
      
::ng-deep .modal-content .contact-box .font-weight-medium {
        font-weight: 500;
}

::ng-deep .modal-content .valid{
        font-size:3.5rem;
}

      


::ng-deep .modal-content .contact-box form input{
              font-size: 6.5rem;
}

::ng-deep .modal-content .contact-box form textarea{
        font-size: 7.5rem;
}

::ng-deep .modal-content .contact-box h1{
              text-align: center;
              margin-bottom: 4.5%;
              font-size: 10.5rem; 
}

::ng-deep .modal-content .contact-box .container h1{
        font-size: 9rem;
}

::ng-deep .modal-content .contact-box .container h2{
        font-size: 5rem;
}

::ng-deep .modal-content .agent-text {
        font-size: 5.2rem;
        margin-right: 5%;
    } */

#checkbox{
        height: 4rem;
        width: 4rem;
}

.input-group{
        height: 200px !important;
}

}

@media (max-width:385px) {
        .main-listing{      
            width: 1438px !important;  
        }

        .image-device{
                width: 1438px !important;
        }
        ::ng-deep footer{
            width: 1438px !important;
          }
      }

@media (max-width:321px) {
        .main-listing{
                width:1280px;
        }
        ::ng-deep footer{
          width: 1280px !important;
        }

        ::ng-deep .close{
                left:1100px;
        }

        .image-device{
                width: 1280px !important;
        }
      }
      

/* 
@media (width:414px) and (height:896px) {
        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1450px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        
}


@media (width:414px) and (height:736px) {
        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1450px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 11rem !important;
                left:30.5%;
        }
        
}


@media (width:412px) and (height:915px) {
        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1450px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:2.5%;
                font-size: 10rem !important;
                left:35.5%;
        }
        
}

@media (width:412px) and (height:914px) {
        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1450px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:2.5%;
                font-size: 10rem !important;
                left:35.5%;
        }
        
}



@media (max-width: 411px){
        .image-device{
                width: 1640px;;
        }

        ::ng-deep .modal-content {
                width: 1402px;
            }
        .contact3 .contact-box  form input{
                width:1200px;
        }
        .contact3 .contact-box  form textarea{
                width:1200px;
        }
}

@media (max-width: 393px) and (min-width:391px){
        .image-device{
                width: 1570px;
                height: 1200px;
        }

        .service-14{
                margin-left: 45%;
        }

        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1350px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        
        ::ng-deep #terms{
                font-size: 2.5rem;
        }
        
        ::ng-deep .modal-content .contact-box{
                position: relative;
                top:-230px;
        }
              
        ::ng-deep .modal-content .contact-box .font-weight-medium {
                font-weight: 500;
        }
              
        
        
        ::ng-deep .modal-content .contact-box form input{
                      font-size: 6.5rem;
        }
        
        ::ng-deep .modal-content .contact-box form textarea{
                font-size: 7.5rem;
        }
        
        ::ng-deep .modal-content .contact-box h1{
                      text-align: center;
                      margin-bottom: 4.5%;
                      font-size: 10.5rem; 
        }
        
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 11rem !important;
                left:30.5%;
        }
}

@media (max-width: 390px) and (min-width:377px){
        .image-device{
             
             
        }

        .service-14{
                margin-left: 43%;
        }

        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1350px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        
        ::ng-deep #terms{
                font-size: 2.5rem;
        }
        
        ::ng-deep .modal-content .contact-box{
                position: relative;
                top:-230px;
        }
              
        ::ng-deep .modal-content .contact-box .font-weight-medium {
                font-weight: 500;
        }
              
        
        
        ::ng-deep .modal-content .contact-box form input{
                      font-size: 6.5rem;
        }
        
        ::ng-deep .modal-content .contact-box form textarea{
                font-size: 7.5rem;
        }
        
        ::ng-deep .modal-content .contact-box h1{
                      text-align: center;
                      margin-bottom: 4.5%;
                      font-size: 10.5rem; 
        }
        
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 11rem !important;
                left:30.5%;
        }
}

@media (max-width: 376px) and (min-width:362px){
        .image-device{
              
              
        }

        .service-14{
             
        }

        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1250px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 11rem !important;
                left:30.5%;
        }

       
       
       

       
       
       

       
       
       
}


@media (max-width: 361px) and (min-width:322px){
        .image-device{
              
              
        }

        .service-14{
               
        }

        ::ng-deep .close{
                font-size: 18rem !important;
                left: 1250px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }

        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 11rem !important;
                left:30.5%;
        }
        
}


@media (max-width: 321px){

        .image-device{
              
              
        }

        #request-info {
                font-size: 10.5rem !important;
            }

            .accordion {
                width: 1090px;
            }

            .accordion-button::after{
                right: 480px;
            }

            ::ng-deep .progress{
                    width: 1090px !important;
            }

            ::ng-deep .close{
                font-size: 18rem !important;
                left: 1050px;
                top:-120px;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 4rem !important;
                left:35.5%;
        }
        ::ng-deep .modal-content{
                width:98%;
                margin-left: -2%;
        }
        ::ng-deep .modal-content .contact-box .btn{
                margin-top:5%;
                font-size: 11rem !important;
                left:28%;
        }
}  */