<main>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()"  class="needs-validation register-form" novalidate="">
      <div class="container">
        <h1>Reset Password</h1>
        <h5>
          Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
        </h5>
        <hr>
    
        <label for="email"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" formControlName="password"  name="password" id="password" type="text" class="form-control shadow-none  stack4"required>
    
        <label for="psw"><b>Confirm Password</b></label>
        <input type="password" formControlName="confirmPassword" placeholder="Enter Confirm Password" name="confirmPassword" id="psw" class="form-control shadow-none  stack4"  required>
        
        <!-- <div class="container signin"> -->
        <!--   <span>Want access to specials? </span><a class="registerLink" routerLink="/loginregister">Click here to Register.</a> -->
        <!-- </div> -->
        <button  class="contactButton"  [disabled]="!resetPasswordForm.valid" type="submit" class="registerbtn">Submit</button>
        <!-- <p id="terms">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
      </div>
    </form>    
</main> 

<!-- Need to add alerts:Your password has been reset. Please (Add Redirect Link)  -->
<!-- Need to add alerts:Error Message . --> 

