@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&family=Noto+Serif&display=swap');
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}


.tracking-in-expand {
-webkit-animation: tracking-in-expand 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.swing-in-bottom-fwd {
	-webkit-animation: swing-in-bottom-fwd 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-bottom-fwd 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


::ng-deep footer {
  width: 100%;
}

::ng-deep .si-float-wrapper{
  -webkit-animation: scale-in-ver-bottom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-bottom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
  
}

.searchBar::-webkit-search-cancel-button{
  position:relative;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius:10px;
  background-image: url('/assets/search.svg');
  background-size: 100% 100%;
  cursor:pointer;
  }
.list{
  width: inherit
}


main {
  width: 100%;
}

#one{
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: fit-content;
  justify-content: center;
  
}

.dropdown button{
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 0px .5px 0px rgb(255 255 255 / 30%), 0px -.5px 0px rgb(0 0 0 / 70%);
}

#loan-program {
  border-color: #d8d67f;
  width: 100% !important;
  display: inline-block;
}


.dropdown-content {
  display:none;
  position: absolute;
  max-height: 0px !important;
  border-radius: 2.8px;
  left: -50px;
  top: 31.8px;
  background-color: #f9f9f9;
  min-width: 160px;
  border-style: groove;
  border-width: 1.5px;
  border-color: #d8d67f;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: none;
  z-index: 1;
  


}

.dropdown-content a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: #242309;

}

.dropdown-content a li {
  font-size: 18px;
  width: 160px;
}

.dropdown-content a li:hover {
  font-weight: 500;
  font-size: 32px;
  color: #d8d67f;
  transition: 200ms;
}

.dropdown-content ul {
  position: relative;
  left: -15px;
  width: 150px;
  display: grid;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

#listing-status-desktop {
  margin-top: 10px;
  left: -30px;
}

#price-drpdwn::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#price-drpdwn::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: .4px;
  background-color: #F5F5F5;
}

#price-drpdwn::-webkit-scrollbar-thumb {
  border-radius: 6.8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #d8d67f;
}

#price-drpdwn::-webkit-scrollbar-thumb:hover {
  background-color: #e9e787;
  transition: 200ms;
}

#price-drpdwn {
  max-height: 250px;
  top: 41px;
  left: -65px;
  overflow-y: scroll;
}

#price-sort {
  top: 40px;
}

.dropdown:hover .dropdown-content {
  -webkit-animation: scale-in-ver-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  display: grid;
  transition: 200ms;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  max-height: 250px !important;
  opacity: 1;



}


.text-focus-in {
  -webkit-animation: text-focus-in .5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in .5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.main-font {
  font-family: 'Oswald', sans-serif;
}

.splitscreen {
  display: flex;
}

.marker {
  border-radius: 0px !important;
  width: 220px;
  height: 200px;
  font-size: 26px;
  border-style: none;
  border-radius: 0px;
}

.marker .btn {
  color:rgba(234, 236, 130, 0.6);
  position: relative;
  top: -140px;
  left: -13%;
  float: right;
  font-size: 24px;
  border-color: #9da000;
  text-shadow: 0px 1px 0px rgb(255 255 255 / 30%), 0px -1px 0px rgb(0 0 0 / 70%);
  background-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-radius: 5px;
}

.marker .btn:hover {
  color:rgba(234, 236, 130, 1);
}

.marker img{
  width: 100%;
  height: 120px;
}

.map_list_button {
  display: none;
}


.left {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 571px;
  min-width: 571px;
  padding-top: 10%;
  height: 100%;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, .8) !important;
  z-index: 1;

}

.listing-card{
  z-index:3;
  margin-top:4.5%;
  border: 1px groove #d8d67f;
  width:502px;
}

.listing-card:hover
{
  border: 3px groove #d8d67f;
   
}
.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  right: 60px;
}

.selectdiv:focus {
  outline: none;
}

.listing-status {
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: -3px;
  width: 100%;
  font-weight: 300;
  max-width: 150px;
  height: 43px;
  box-shadow: 1px 1px 4px #7b7b7b,
    -1px -1px 4px #ffffff;
  border: 1px groove #d8d67f;
  padding: 10px;
  line-height: 1.3;
  border-radius: 2.8px;
  background: linear-gradient(90deg, rgba(229, 231, 172, 0.596) 0%, rgba(224, 226, 157, 0.274) 37%, rgba(224, 226, 155, 0.644) 100%)
}


.selectdiv label:after {
  content: '\f15d';
  font: normal normal normal 17px/1 FontAwesome;
  color: #242309;
  right: 11px;
  top: 6px;
  width: 20px;
  height: 42px;
  padding: 15px 0px 0px 8px;
  border-left: 1px groove #d8d67f;
  position: absolute;
  pointer-events: none;
  line-height: .65;
  display: none;
}

/* IE11 hide native button */
select::-ms-expand {
  display: none;
}

.selectdiv label {
  margin-left: 3%;
}

option {
  font-family: 'Oswald', sans-serif;
  align-items: center;

}

.selectdiv select {
  font-weight: 300;
  font-size: 24px !important;
  font-family: 'Oswald', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  text-align-last: center;
  /* Add some styling */
  display: block;
  width: 100%;
  min-width: 120px;
  height: 43px;
  float: right;
  margin: 5px 0px;
  padding: 0px 0px;
  font-size: 17px;
  line-height: 1.75;
  color: #333;
  background: linear-gradient(90deg, rgba(229, 231, 172, 0.596) 0%, rgba(224, 226, 157, 0.274) 37%, rgba(224, 226, 155, 0.644) 100%) !important;
  background-image: none;
  border: 1px groove #d8d67f;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 2.8px;
  box-shadow: 1px 1px 4px #7b7b7b,
    -1px -1px 4px #ffffff;
}






::ng-deep .fade {
  width: 100% !important;
  height: 100% !important;
}


::ng-deep .modal-backdrop.show {
  opacity: .5;
  z-index: 2;
}

::ng-deep .close:focus {
  outline: none;
  color: rgb(240, 204, 0);
}

::ng-deep .close {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
  position: relative;
  left: 90%;
  top: -20px;
  height: 30px;
  font-size: 4rem;
  width: fit-content;
  border: none;
  background: none;

}



.contactButtonSpan {
  width: 1rem;
}

.right {
  display: flex;
}


::ng-deep .form-control:focus {
  border-color: rgb(226, 186, 84);

}

.pagination::ng-deep .page-item .page-link {
  -webkit-text-stroke: .5px #9da000 !important;
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  color: #292c04;
  font-weight: 500;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  font-size: 3rem;
  border: none;
  background-color: rgb(255, 255, 255, 0) !important;
  border-color: #0000A0;
  box-shadow: 0 .3rem 3rem rgba(0, 0, 0, 0) !important;
  border-radius: 0;
}

.pagination::ng-deep .page-item .page-link:hover {
  color: #c6c91b;
}





.si-content-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 3000000px;
  background-color: rgb(197, 25, 25);
}

.cardBody {
 
  padding-bottom: 0px !important;
}

.cardTitle {
  font-size: 22px;
  letter-spacing: 3px;
  color: black;
  font-weight: 600 !important;
  margin-top: 1px !important;
}

.cardText {
  font-size: 14px !important;
  letter-spacing: .5px !important;
  margin-bottom: 2% !important;
  font-weight: 480 !important;
  color: black;
}

.labelSection {
  border-radius: 1.25rem !important;
}

.stack {
  border-radius: 0px !important;
  box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff !important;
  border-style: none;
  height: 50px;
}


.selectOptions {
  position: relative;
  right: 300px;
  margin-bottom: 0.25rem;

}

agm-map {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: none;
  color: #fff;
  font-size: 1.4em;
  z-index: 0;
}

agm-marker {
  z-index: 1;
}

.option {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 140px;
  color: black !important;
  padding-top: 140px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 52%, rgb(243, 249, 255) 100%) !important;
}

.option .container {
  /* margin-top: 4%; */
  padding-bottom: 3%;
  display: flex;
  justify-content: space-evenly;
}

.option .container form {
  display: flex;
}

.moreOptionsHeaderFont {
  font-size: 3.3rem;
  padding-top: 10%;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;

}


.listingTitle {
  color: black !important;
  text-align: center;
  font-size: 15px;
  font-weight: 600 !important;
  padding-top: 40px !important;
  padding-bottom: 15px;
  letter-spacing: 3px;
}

.contactButton {
  display: none;
}

.contactButton a {
  color: rgb(8, 10, 3);
}


.contactButton:hover {
  border-color: rgb(226, 186, 84);
  background: linear-gradient(90deg, rgb(247, 242, 213) 0%, rgba(255, 255, 255, 1) 55%);
  color: rgb(8, 10, 3);
  animation-duration: 1s;
  border-style: solid;
}


.contactButton:focus {
  border-style: solid;
}

.set {
  margin-top: -20%;
}

.searchButton {
  position: relative;
  left: 20px;
  border-radius: 2.8px;
  border-color: rgb(53, 40, 4);
  border-width: 1px;
  box-shadow: 3px 3px 8px #7b7b7b,
    -3px -3px 8px #ffffff;
}

.mapButton {
  display: inline;
  position: relative;
  left: 30px;
  border-radius: 2.8px;
  border-color: rgb(53, 40, 4);
  background: #FFFFFF;
  border-width: 1px;
  box-shadow: 3px 3px 8px #7b7b7b,
    -3px -3px 8px #ffffff;
}

.mapButton:hover{
  border-color: rgb(226, 186, 84);
  background: linear-gradient(90deg, rgb(247, 242, 213) 0%, rgba(255, 255, 255, 1) 55%);
  color: rgb(8, 10, 3);
}

.searchBar {
  border-radius: .22rem;
  width: 350px;
  outline-color: #d8d67f !important; 
  outline-offset: 0px; 
  

}

.searchButton:hover {
  border-color: rgb(226, 186, 84);
  background: linear-gradient(90deg, rgb(247, 242, 213) 0%, rgba(255, 255, 255, 1) 55%);
  color: rgb(8, 10, 3);
}


.setting {
  padding-left: 21% !important;
}

.btn_spacing {
  margin-right: 1.10em;
  display: inline-block;
}



 .listing_results {
  position: relative;
  max-width: inherit;
  min-width: inherit;
  left: 7%;
  z-index: 1;
} 


.h3-option-margin {
  margin-top: 2%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button:checked {
  background: -webkit-linear-gradient(top left, rgb(255, 222, 218), rgb(255, 69, 69));
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pagination_listing_results {
  display: none;


}

.pagination_listing_results1 {
  display: grid;
  background-color: rgba(255, 255, 255, 0) !important;
  justify-content: center;
  padding-bottom: 8rem;
  padding-top: 3rem;
  z-index: 1;
  position: relative;
}

.spacing {
  height: 40px;
  max-width: 571px;
  min-width: 571px;
  background-color: rgba(255, 255, 255, .0) !important;
  margin-left: -32px;
}

.fa-filter {
  -webkit-text-stroke: 1.75px #9da000 !important;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  padding-left: 5.5px;
  padding-right: 5.5px;
}

.fa-search{
  font-size: 25px;
  font-weight: 100 !important;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  -webkit-text-stroke: .25px #9da000 !important;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5.5px;
padding-right: 5.5px;
}

.fa-map-o {
  font-size: 25px;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  -webkit-text-stroke: .25px #9da000 !important;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5.5px;
  padding-right: 5.5px;
}







.filter {
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: none;
  background-color: #ffffff;
  line-height: 1.75;
  padding-bottom: 3%;
  width: 100%
}

select:focus {
  outline-color: #d8d67f;
  outline-style: solid;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="checkbox"]+span {
  color: rgb(24, 22, 4);

}

input[type="checkbox"]+span:before {
  font: 20pt FontAwesome;
  content: '\00f096';
  color: rgb(22, 20, 4);
  display: inline-block;
  width: 10pt;
  padding: 2px 0 0 3px;

  margin-right: 0.5em;
}

input[type="checkbox"]:checked+span:before {
  font: 22pt FontAwesome;
  content: '\00f046';
  color: rgb(150, 137, 23);
}

.container-listing-status {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 2%;
  padding-bottom: 5%;

}

.status-title {
  font-weight: 350;
  text-align: center;
  margin-top: -2.5%;
}


.fa-angle-left {
  font-size: 1.35rem !important;
}

.fa-angle-right {
  font-size: 1.35rem !important;
}


@media (max-width:1670px) {

  .selectOptions {
    position: relative;
    right: 7%;
    margin-bottom: 0.25rem;

  }

}





@media (max-width:1400px) {

  .selectdiv select {
    display: block;
    width: 100%;
    min-width: 350px;
  }
}

@media (width:1024px) and (height:1366px) {
  .option{
    padding-top: 11.5% !important;
  }

  .listing_results{
        left: -8%;
  }

  .pagination_listing_results1{
    left: 7% !important;
  }

  .listing-card{
    position: relative !important;
    width: 335px !important;
    left: 50px !important;
  }
}


@media (max-width:1300px) {
  .listing-status {

    top: -2.4px !important;
  }

  
  
  
  

  .selectdiv .adjust-space {
    margin-left: 5px !important;

  }
}


@media (max-width:1270px) {
  .selectOptions {
    position: relative;
    right: 5%;
    margin-bottom: 0.25rem;

  }

}

@media (max-width:1200px) {

  .dropdown {
    display: none;
  }

  .option{
    padding-top:120px;
  }





  .contactButton {
    display: inline;
    position: relative;
    left: 30px;
    border-radius: 2.8px;
    border-color: rgb(53, 40, 4);
    background: #FFFFFF;
    border-width: 1px;
    box-shadow: 3px 3px 8px #7b7b7b,
      -3px -3px 8px #ffffff;
    -webkit-appearance: button;
  }

  .mapButton {
    left: 40px;
  }





  .filter2 {
    display: none;
  }

  
  
  

  ::ng-deep .modal-content {
    width: 100% !important;
    margin-top: 40%;
  }

  ::ng-deep .modal-backdrop.show {
    opacity: .5;
  }

  ::ng-deep .modal-content .container {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }

  ::ng-deep .modal-content .container h1 {
    text-align: center;
    font-weight: 350;
  }

  ::ng-deep .container .filter-cat {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 25%;
  }

  .label-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 37%;
    padding-bottom: 5%;
  }





  ::ng-deep .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }



  ::ng-deep .close:focus {
    outline: none;
    color: rgb(255, 208, 0);
  }

  ::ng-deep .close {
    position: relative;
    top: -20px;
    height: 30px;
    font-size: 4rem;
    width: fit-content;
    border: none;
    background: none;

  }


  ::ng-deep .selectdiv {
    position: relative;

  }

  ::ng-deep .selectdiv:focus {
    outline: none;
  }

  ::ng-deep .selectdiv label:after {
    content: '\f15d';
    font: normal normal normal 17px/1 FontAwesome;
    color: #242309;
    right: 11px;
    top: 6px;
    width: 20px;
    height: 42px;
    padding: 15px 0px 0px 8px;
    border-left: 1px groove #d8d67f;
    position: absolute;
    pointer-events: none;
  }

  /* IE11 hide native button */
  select::-ms-expand {
    display: none;
  }

  ::ng-deep .selectdiv label {
    margin-left: 3%;
  }

  ::ng-deep .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 100%;
    max-width: 120px;
    height: 43px;
    float: right;
    margin: 5px 0px;
    padding: 0px 14px;
    font-size: 14px;
    line-height: 1.75;
    color: #333;
    background: linear-gradient(90deg, rgba(229, 231, 172, 0.596) 0%, rgba(224, 226, 157, 0.274) 37%, rgba(224, 226, 155, 0.644) 100%) !important;
    background-image: none;
    border: 1px groove #d8d67f;
    -ms-word-break: normal;
    word-break: normal;
    border-radius: 2.8px;
    box-shadow: 1px 1px 4px #7b7b7b,
      -1px -1px 4px #ffffff;
  }



}

@media (max-width:1110px) and (min-width:1024px) {


  .left {
    max-width: 371px;
    min-width: 371px;
  }

  .listing-card{
    width:312px;
  }

  .container .filter-cat {
    margin-left: 0%;
  }

  .selectdiv {
    right: 0px !important;
  }

  .selectdiv label {
    margin-left: 0%;
  }

  .searchBar {
    width: 450px;
  }

  .searchButton {
    font-size: 1.5rem;
  }

  .contactButton {
    font-size: 1.5rem;
  }

  .fa-map-o {
    font-size: 1.5rem;
  }

  .pagination_listing_results1{
    left:-25px;
  }
}
@media (max-width: 1023px) and (min-width:920px){
  /* .option{
    padding-top: 12%;
  } */
  .listing-card{
    width:300px;
  }

  .listing_results{
    left:5%;
  }
}

/* @media (max-width:995px) {
  .option{
    padding-top: 91.5px;
  }
} */

@media (max-width: 912px) and (height:1368px){
   .option{
    padding-top:9.5%;
  }

  .left{
    max-width: inherit;
    min-width: inherit;
  }

  .listing_results{
    max-width: 300px;
    min-width: 300px;
    left: -18%;
  }

  .listing-card{
    position: relative;
    width: 285px;
    left: 60px;
  }

  .pagination_listing_results1{
    left: 16%;
  }
 .pagination_listing_results1 ::ng-deep .pagination .page-item .page-link {
    font-size: 2rem !important;
  }
}




@media (max-width:1023px) and (min-width:921px) {
 
  /* .option .container {
    margin-top: .5%;
  } */

  /* .selectOptions {
    padding-top: 1.2rem;
  } */

  .option{
    padding-top: 90px;
  }

  

  .option .container form {
    margin-left: 0%;
  }


  .searchBar {
    width: 450px;
    margin-left: -5%;
  }

  .container .filter-cat {
    margin-left: 0%;
  }

  .selectdiv {
    right: 0px !important;
  }

  .selectdiv label {
    margin-left: 0%;
  }

  .spacing {
    height: 130px;
    max-width: 330px !important;
    min-width: 330px !important;
  }

  .left {
    max-width: 330px !important;
    min-width: 330px !important;
  }

}

@media (max-width:920px) {
  .option{
    padding-top: 90px;
  }
}

@media (width: 820px) and (height:1180px) {
  .left{
    max-width: 300px !important;
    min-width: 300px !important;
  }
  .listing_results{
    left: -7.5%;
  }

  .listing-card{
    position: relative;
    width: 285px;
    left: 30px;
  }

  .pagination_listing_results1{
  left: 7%;
}
.pagination_listing_results1 ::ng-deep .pagination .page-item .page-link {
  font-size: 2rem !important;
}
}

@media (width: 768px) and (height:1024px) {
  .left{
    max-width: 300px !important;
    min-width: 300px !important;
  }
  .listing_results{
    left: -7.5%;
  }

  .listing-card{
    position: relative;
    width: 285px;
    left: 30px;
  }

  .pagination_listing_results1{
    left: 7%;
  }

  .pagination_listing_results1 ::ng-deep .pagination .page-item .page-link {
    font-size: 2rem !important;
  }
}


/* @media (max-width:1023px) and (min-width:921px) {} */

@media (max-width:821px) {
  /* .option{
    top: 38px;
  } */

}

@media (min-width:760px) and (max-width:915px) {
  .option form {
    top: 10px !important;
  }

  .spacing{
    height: 120px;
  }

  /* .option {
    height: 140px;
  } */

  ::ng-deep .modal-content{
    -webkit-animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}


@media (max-width:760px) {

  .spacing{
    height: 100px;
  }
}









/* 
@media (max-width:1400px){
  .spacing{
    height:120px;
  }
}

@media (max-width:800px){
  .spacing{
    height:150px;
  }
}

@media (max-width: 1024px) and (max-height:1366px){

  main{
    width: 100px;
  }

  .fa-filter{
    font-size: 4rem;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 20px;
    padding-right:20px;
   }

   .fa-search{
     padding-left: 10px;
     padding-right: 10px;
     font-size: 4rem;
   }

  .option{
    max-width: 1955px;
    min-width: 1955px;
    height: 200px;
  }

  .container  form{
    position: relative;
      left: 30px;
      top: -15px;
  }

  

  .bedroomWidthRow{
    width:50rem !important;
    margin-left:-17rem;

  }

  .radioButton{
    width: 3.5rem;
    height: 3.5rem;
  }

  .contactButton svg{
    width:6rem;
    height: 5rem;
  }

  .selectFont{
    margin-left:10px;
    font-size:3.5rem !important;
  }
  .moreOptionsBodyFontButton{
    font-size:2.5rem
  }

  .moreOptionsHeaderFont{
    padding-top: 10%;
    font-size:7.25rem ;
    height: fit-content;
    width: fit-content;
    text-align: center;
  }

  .moreOptionsHeaderSelectFont{
    font-size: 3rem;
    height: 110px;
    width: 210px;
  }

  .moreOptionsBodyFont{
    font-size:3rem
  }

  .close{
    left:600px;
  }


  ::ng-deep .modal-dialog{
      max-width:none;
      margin-left:2%;
      margin-right:2%;
  }

  .pagination::ng-deep .page-item .page-link {
    font-size:2.5rem;
  }

  .left{
    max-width: 900px;
    min-width: 900px;
    height:100%;
   
  }

  .pagination_listing_results{
    background-color: rgba(255,255,255,.6)!important;
    max-width:1990px;
    min-width:1990px;
 
    position: relative;
    display:none !important;
  }
  .map_list_button{
  
    position: fixed;
    display: none !important;
    bottom:11rem;
    left: 50rem;
    font-size:4.5rem;
    border-radius: .6rem;
    background:rgba(255,255,255, 1);
    border-width: .25rem;
    border-style: inset !important;
    border-color:   #24cfaa !important;
    border-radius:1.3rem !important;
    border-style:none;
    box-shadow: 0 .3rem 3rem rgba(0,0,0,.495)!important;
  }

  
  .searchButton{
    font-size:2rem !important;
  }

  .searchBar{
    font-size:1.85rem;
    width:40rem;
  }

  .selectOptions{
    margin-left:2rem;
  }

  .spacing{
    height: 230px;
  }

  .pagination_listing_results1{
    display: grid !important;
  }

  .map_text_margin{
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }



  .map_text_margin svg {
    fill:#061e6b;
    width:8rem;
    height: 7rem;

  }

  .map_text_margin path {
    stroke-width:1.35;
    stroke: white;

  }

  .marker{
    border-radius: 0px !important;
    width: 450px; height:480px; font-size:26px; border-style: none; border-radius:0px;
  }


  .cardTitle{
    font-size: 2.7rem;
    letter-spacing: 3px;
    color:black;
    font-weight: 600 !important;
    margin-top:1px !important;
  }

  .cardText{
    font-size: 2rem !important;
    letter-spacing: .5px !important;
    margin-bottom:2% !important;
    font-weight: 480 !important;
    color:black;
  }

  .labelSection {
    border-radius: 2.5rem !important;
    width:900px;
    
}


}


@media (max-width:913px) and (max-height:1369px) {

  .fa-filter{
    font-size: 4rem;
    padding-left: 30px;
    padding-right:30px;
   }

   .fa-search{
     padding-left: 20px;
     padding-right: 20px;
     font-size: 4rem;
   }

  .container  form{
    position: relative;
      left: 30px;
      top: -15px;
  }

  
  .option{
    max-width: 1416px;
    min-width: 1416px;
    height: 225px;
  }

  .bedroomWidthRow{
    width:50rem !important;
    margin-left:-17rem;

  }

  .radioButton{
    width: 2rem;
    height: 2rem;
  }

  .contactButton svg{
    width:6rem;
    height: 5rem;
  }

  .selectFont{
    margin-left:10px;
    font-size:3.5rem !important;
  }
  .moreOptionsBodyFontButton{
    font-size:2.5rem
  }

  

  .moreOptionsHeaderFont{
    font-size:5.55rem;
    padding-top: 10%;
  }

  .moreOptionsHeaderSelectFont{
    font-size:3.3rem;
    height: fit-content;
    width: fit-content;
    text-align: center;
  }

  .moreOptionsBodyFont{
    font-size:3rem
  }

  .close{
    left:600px;
  }


  ::ng-deep .modal-dialog{
      max-width:none;
      margin-left:2%;
      margin-right:2%;
  }


  .pagination::ng-deep .page-item .page-link {
    font-size:2.5rem;
  }

  .left{
    max-width: 650px;
    min-width: 650px;
    height:100%;
  }

  .pagination_listing_results{
    background-color: rgba(255,255,255,.6)!important;
    max-width:1625px;
    min-width:1625px;
    padding-left:20rem;

    padding-bottom: 18%;
    padding-top:6%;

    position: fixed;
    bottom:90px;
    display:none;
  }
  .map_list_button{

    position: fixed;
    display: none;
    bottom:16rem;
    left: 50rem;
    font-size:4.5rem;
    border-radius: .6rem;
    background:rgba(255,255,255, 1);
    border-width: .25rem;
    border-style: inset !important;
    border-color:   #24cfaa !important;
    border-radius:1.3rem !important;
    border-style:none;
    box-shadow: 0 .3rem 3rem rgba(0,0,0,.495)!important;
  }




  .searchButton{
    font-size:2rem !important;
  }
  .searchBar{
    font-size:1.85rem;
    width:63.5rem;
    margin-left: -250px;
    
  }

  .selectOptions{
    margin-left:-5rem;
  }

  .spacing{
    height: 230px;
  }

  .pagination_listing_results1{
    display:grid;
  }

  .map_text_margin{
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }



  .map_text_margin svg {
    fill:#061e6b;
    width:8rem;
    height: 7rem;

  }

  .map_text_margin path {
    stroke-width:1.35;
    stroke: white;

  }

  .marker{
    border-radius: 0px !important;
    width: 450px; height:480px; font-size:26px; border-style: none; border-radius:0px;
  }


  .cardTitle{
    font-size: 2.7rem;
    letter-spacing: 3px;
    color:black;
    font-weight: 600 !important;
    margin-top:1px !important;
  }

  .cardText{
    font-size: 2rem !important;
    letter-spacing: .5px !important;
    margin-bottom:2% !important;
    font-weight: 480 !important;
    color:black;
  }

  

  
  
  
  
  
}


@media (max-width:821px) and (max-height:1181px){
  .left{
      max-width: 650px;
      min-width: 650px
  }

  .option{
    max-width: 1475px;
    min-width: 1475px;
  }
  .searchBar{
    font-size:1.85rem;
    width:63.5rem;
    margin-left: -250px;
    
  }





}

@media (max-width: 769px) and (max-height:1025px){
  .fa-filter{
    font-size: 4rem;
  
   }


   .fa-search{
     padding-left: 20px;
     padding-right: 20px;
     font-size: 4rem;
   }

  
  .map_list_button{
  
    position: fixed;
    display: flex;
    bottom:10rem;
    left: 37rem;
    font-size:4.5rem;
    border-radius: .6rem;
    background:rgba(255,255,255, 1);
    border-width: .25rem;
    border-style: inset !important;
    border-color:   #24cfaa !important;
    border-radius:1.2rem !important;
    border-style:none;
    box-shadow: 0 .3rem 3rem rgba(0,0,0,.495)!important;
  }
  .map_text_margin{
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
  }



  .map_text_margin svg {
    fill:#061e6b;
    width:7rem;
    height: 6rem;

  }

  .map_text_margin path {
    stroke-width:1.35;
    stroke: white;

  }



  .selectOptions{
    margin-left:.2rem;
  }


  .contactButton svg{
    width:5rem;
    height: 4rem;
  }


  .searchButton{
    font-size:1.5rem !important;
  }

  .searchBar{
    font-size:1.85rem;
    width:63.5rem;
    margin-left: -350px;
    
  }

  .pagination_listing_results{
    background-color: rgba(255,255,255,.6)!important;
    max-width:1625px;
    min-width:1625px;
    padding-left:10rem;

    padding-bottom:3%;
    padding-top:5%;

    position: fixed;
    bottom:130px;
    display:flex;
  }

  .pagination_listing_results1{
    display: none;
  }

  .marker{
    border-radius: 0px !important;
    width: 380px; height:430px; font-size:26px; border-style: none; border-radius:0px;
  }
  
  .moreOptionsHeaderFont{
    font-size:4.3rem;
  }


  agm-map{
    height: 100%;
   }
}



@media (max-width:541px) and (max-height:721px){

  .pagination::ng-deep .page-item .page-link {
    z-index: 1;
    color: #000000;
    font-size:2.5rem !important;
    background-color:rgb(255, 255, 255) !important;
    border-color: #0000A0;
    box-shadow: 0 .3rem 3rem rgba(0,0,0,.195)!important;
    border-radius:0;
    padding-left:25px;
    padding-right:25px;
  }

  .cardPadding{
   height:500px;
  }

  .options-svg{
    width:4rem;
    height:4rem;
  }

  .container form {
   
    left: 145px;
   
}

  .left{
    max-width: 1800px;
    min-width: 1800px;
    height:100%;
  }

  .marker{
    border-radius: 0px !important;
    width: 450px; height:480px; font-size:26px; border-style: none; border-radius:0px;
  }

  .cardBody{
    padding-top:10px;
    padding-bottom:0px !important;
  }

  .cardTitle{
    font-size: 2.7rem;
    letter-spacing: 3px;
    color:black;
    font-weight: 600 !important;
    margin-top:1px !important;
  }

  .cardText{
    font-size: 2rem !important;
    letter-spacing: .5px !important;
    margin-bottom:2% !important;
    font-weight: 480 !important;
    color:black;
  }

  .selectOptions{
    padding-top: 1.2rem;
    margin-left:7.2rem;
  }


  .option{
    margin-top:35px !important;
    min-width: 1800px;
    max-width: 1800px;
    height: 290px
  }

  .searchButton{
    width:4.5em !important;
    font-size:2.3rem !important;
  }

  .searchBar{
    border-radius: 2px;
    height: 6rem;
    width: 900px;
    margin-left: 0px;
  }


  agm-map{
   height: 100%;
  }

  .contactButtonSpan{
    width:1rem;
  }

  .pagination_listing_results{
    background-color: rgba(255,255,255,.4)!important;
    max-width:1625px;
    min-width:1625px;
    padding-left:16rem;

    padding-bottom:1%;
    padding-top:2%;
    position: fixed;
    bottom:180px;
    display:flex;
  }

  .pagination_listing_results1{
    display: none;
  }

  .map_list_button{
    z-index: 3;
    left:0px;
    bottom: 0px;
  }



  .spacing{
    height:400px;
    max-width:936px;
    min-width:936px;
  }

  .listing_results{
    max-width:1120px;
    min-width:1120px;
  }




  

  .navbarOptions{
    padding-top: 4%;
    margin-left:200px;
  }

  .stack{
    border-radius:0px !important;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff !important;
    border-style:none;
    height: 70px;

  }

  .close {
    left: 700px;
    top: 50px;
  }

  .close span{
    font-size: 11rem;
    padding:2px;
  }

  .filter-option #sort-btn{
    min-width: 170px !important;
    position:absolute;
    left: 65px !important;
    height: 250px !important;
  }

  .filter-option #sqft-button-menu{
    height: 1200px !important;
    min-width: 480px;
    left: -43px !important;
  }
  
  .filter-option #price-select-dropdown{
    height: 1200px !important;
    min-width: 480px;
  }

  .filter-option .h3-option-margin{
    margin-top: 2%;
  }
  


.filter-option form h1{
  text-align: center;
  font-size: 5.25rem;
}

.filter-option form h3 {
  font-size: 4.25rem;
  
}

.filter-option .bed-list {
  padding-left: 6rem !important;
  padding-right: 4rem !important;
  font-size: 6rem !important;
}

.filter-option .mobile-pos{
  position: relative;
  left:-200px;
}

.filter-option #sqft-sort{
  font-size: 3rem !important;
    left: 50px;
    line-height: 3;
}

.filter-option #sqft-button{
  font-size: 6rem !important;
  position: relative;
  left: -50px;
}

.filter-option #price-select{
  font-size: 6rem !important;
 
}


 .filter-option .dropdown-menu {
  height: 670px !important;
  font-size: 4rem !important;
  min-width: 350px;
}

.filter-option .dropdown-toggle::after {
  font-size: 4rem;
  margin-right: 1.5rem !important;
}

#sqft-sort span{
  font-size: 2.5rem !important;
}

#sort-btn{
  font-size: 2.5rem !important;
}

#sqft-sort{
  font-size: 1.5rem
}



.filter-option form .form-select{
   width: 400px !important;
   font-size: 4rem !important;  
   border-radius: 0px !important;  
   background-size: 28px 24px !important; 
   position: relative;
   left:-200px;
}


.filter-option form .form-select:focus{
   outline: 0 !important;
   box-shadow:none;
   border-color: black !important;
}


.filter-option form .form-select:hover{
   font-weight: 600;
   transition: 200ms ease-in-out;
}

.filter-option form .space{
   width:2rem !important;
}


.filter-option form label{
 
  text-align: center;
  font-size: 4.2rem;
  line-height: 2;
}



.filter-option .form-check-input{
  width: 18em !important;
  height: 9em !important;
  border-radius: 6em !important;
  background-size: 8.7em 8.7em;
  background-position: .5em !important;
  box-shadow: inset 3px 3px 3px #cbced1, inset -1px -1px 1px #ffffff !important;
 margin-top: 7%;
position: relative;
left: -100px;

}

.filter-option .form-check-label{
font-size:28px;
}














.filter-option .form-check-input:checked {
  background-color: #fff;
    background-position: 8.95em !important;
}


.filter-option .listing-status .form-check{
position: relative;
left:0px;
}

.filter-option .bed{
  position: relative;
  left:210px;
}

.filter-option .bath{
  position: relative;
  left:210px;
}

.filter-option .sqrtft{
  position: relative;
  left:210px;
}

}
*/
@media (max-width:485px) {
 
  ::ng-deep .si-pointer-border-top {
    
    bottom: 0;
    border-top-color: #bbb;
    display: none;
  }

  ::ng-deep .si-close-button {
    font-size: 14rem;
    top:-55px;
  }

  ::ng-deep .si-has-border .si-content-wrapper {
    border: 4px solid #9da000 !important;
}
  
  ::ng-deep .si-float-wrapper{
    -webkit-animation: slide-in-elliptic-top-fwd 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    left: 0px !important;
    top: 650px !important;
    
    
  }

  .marker .btn{
    position: relative;
    top:-20px;
    float: right;
    left: auto;
    font-size: 8rem;
    border-color: #9da000;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    background-color: rgba(255, 255, 255, 0);
    border-width: 5px;
    border-radius: 25px;
    /* box-shadow: 8px 8px 8px #cbced1,  -8px -8px 8px #181717 !important; */
}
 
  .listing_results{
    left:-4%;
  }
  .mapButton {
    display: none;
  }

  .container .filter-cat {
    margin-left: 0%;
  }

  #mobileBtnBed {
    font-size: 5rem !important;
  }

  #mobileBtnBath {
    font-size: 5rem !important;
  }

  #mobileBtnPrice {
    font-size: 5rem !important;
  }

  #mobileBtnSort {
    font-size: 5rem !important;
  }

  #mobileBtnSqft {
    font-size: 5rem !important;
  }



  ::ng-deep .close {
    font-size: 12rem;
  }

  ::ng-deep .modal-content {
    margin-top: 30%;
    -webkit-animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	 
    
  }

  #price-spacing {
    height: 30px;
  }

  ::ng-deep .selectdiv {
    position: relative;
    right: 0px !important;
  }

  ::ng-deep .container {
    margin-top: 12%;
  }

  ::ng-deep .selectdiv:focus {
    outline: none;
  }

  ::ng-deep .label-container {
    font-size: 8rem;
    margin-left: 28% !important;
  }


  ::ng-deep .modal-content .container h1 {
    font-size: 9rem;
    margin-top: 3%;
    margin-bottom: 1.5%;
  }

  .option {
    top:20px !important;
    font-size: 5rem;
  }

  ::ng-deep .selectdiv label:after {
    content: '\f15d';
    font: normal normal normal 5.8rem/1 FontAwesome !important;
    color: #242309;
    line-height: 1.75 !important;
    right: 15px !important;
    top: 6px !important;
    width: 100px !important;
    height: 42px !important;
    padding: 19px 0px 0px 8px !important;
    border-left: 1px groove #d8d67f;
    position: absolute;
    pointer-events: none;
  }

  /* IE11 hide native button */
  select::-ms-expand {
    display: none;
  }

  .selectOptions {
    right: 0px;
  }


  input[type="checkbox"]+span:before {
    font: 75pt FontAwesome;
    content: '\00f096';
    color: rgb(22, 20, 4);
    display: inline-block;
    width: 30pt;
    padding: 2px 0 0 3px;

    margin-right: 0.5em;
  }

  input[type="checkbox"]:checked+span:before {
    font: 75pt FontAwesome;
    content: '\00f046';
    color: rgb(150, 137, 23);
  }

  ::ng-deep .selectdiv label {
    margin-left: 3%;
  }

  ::ng-deep .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 920px !important;
    height: 200px !important;
    text-align: center;
    float: right;
    margin: 5px 0px;
    padding: 0px 14px !important;
    font-size: 5.5rem !important;
    line-height: 1.75;
    background-image: none;
    border: 1px groove #d8d67f;
    -ms-word-break: normal;
    word-break: normal;
    border-radius: 2.8px;
    box-shadow: 1px 1px 4px #7b7b7b, -1px -1px 4px #ffffff;
  }

  .pointer {
    cursor: pointer;
  }

  .font-weight-light {
    font-weight: 300;
  }

  .font-color-gray, .font-color-gray:visited {
    color: #4c4c4c;
  }

  .z-5 {
    z-index: 5;
  }

  .full-size {
    width: 100%;
  }

  .fa-search {
    font-size: 4rem;
    -webkit-text-stroke: .75px #9da000 !important;
    padding-left: 5px;
    padding-right: 5px;
  }

  .fa-filter {
    font-size: 4rem;
    -webkit-text-stroke: 1.75px #9da000 !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }


  .option {
    height: 350px !important;
  }

  .option .container {
    margin-top: 5%;
  }

  .option .container form {
    width: 90%;
    margin-left: 0%;
  }

  .map_text_margin svg {
    fill: #061e6b;
    width: 200px;
    height: 200px;

  }

  .map_text_margin path {
    stroke-width: 1.35;
    stroke: white;

  }

   .fa-list{
    color: rgb(150, 137, 23);
    font-size: 13rem !important;
    font-weight: 100 !important;
    padding-top:10%;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  }

  .fa-map-o{
    color: rgb(150, 137, 23);
    font-size: 13rem !important;
    font-weight: 100 !important;
    padding-left:1%;
    padding-top:10%;
    padding-bottom:10%;
    padding-right: 5%;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  }

  

  .map_list_button {
    color: rgb(150, 137, 23);
    font-weight: 500;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    position: fixed;
    display: flex !important;
    left: 600px;
    bottom: 300px;
    font-size: 4rem;
    border-radius: .6rem;
    background: rgba(255, 255, 255, 1);
    border-width: .35rem;
    border-style: inset !important;
    border-color: #9da000 !important;
    border-radius: 0.9rem !important;
    border-style: none;
    box-shadow: 0 .3rem 3rem rgba(0, 0, 0, .495) !important;
  }

  

  .map_text_margin {

    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }

  .searchButton {
    width: 4.5em !important;
    font-size: 3rem !important;

  }

  .searchBar {
    border-radius: 0px;
    height: 8rem;
    margin-left: 7%;
    width: 1300px;
    font-size: 4.75rem;
  }



  /* .listing_results {
    max-width: 871px;
    min-width: 871px;
    margin-bottom: 20%;
  } */

  .pagination_listing_results {
    
    border-top: 5px outset#c6c91b;
    background-color: rgba(255, 255, 255, .95) !important;
    padding-bottom: 1%;
    padding-top: 5%;
    max-width: 1570px;
    min-width: 100%;
    line-height: .5;
    justify-content: center;
    height: 250px;
    position:fixed;
    bottom: 0px;
    display: inline-flex !important;
    
  }



  .pagination_listing_results1 {
    top: 110px;
    left: 7%;
    display: flex !important;
    justify-content: center;
  }

  .left {

    max-width: 1570px;
    min-width: 1570px;
    height: 100%;
  }

  ::ng-deep footer {
    width: 1570px;
  }


  .pagination::ng-deep .page-item .page-link {
    z-index: 1;
    font-size: 9rem !important;
    border-color: #9da000;
    border-width: 2px;
    padding-left: 50px;
    padding-right: 50px;

  }





  .agm-map {
    height: 100% !important;
  }

  .spacing {
    height: 350px;
    max-width: 939px;
    min-width: 939px;
  }

  /* .listing_results {
    max-width: 871px;
    min-width: 871px;
  } */


  .option {
    max-width: 1650px;
    min-width: 1650px;
    padding-top: 8rem;
  }




  .marker {
    border-radius: 0px !important;
    width: 1480px;
    height: 1000px;
    border-style: none;
    border-radius: 0px;
  }

  .marker img{
    height:700px;
  }

  .cardBody {
    padding-top: 10px;
    padding-bottom: -60px !important;
  }

  .cardTitle {
    font-size: 4rem;
    letter-spacing: 3px;
    color: black;
    font-weight: 600 !important;
    margin-top: 1px !important;
  }

  .cardText {
    font-size: 3.9rem !important;
    letter-spacing: .5px !important;
    margin-bottom: 2% !important;
    font-weight: 480 !important;
    color: black;
  }


}




@media (max-width:415px) {
  .left{
    max-width: 1570px;
    min-width: 1570px;
  }
  .option {
    padding-top: 7.5rem;
    height: 385px;
  }

  .listing-card{
    width: 1500px;
    left: 76px;
    position: relative;
  }

  .option .container {
    margin-top: 5%;
  }

  .listing_results {
    left: -5%;
}
.pagination_listing_results1{
  width:95%;
  left:5%;
}

  agm-map {
    height: 100%;
  }





}


@media (width:414px) and (height:896px) {
  .listing-card{
    width: 1535px !important;
    left: 96px !important
  }
}


@media (max-width:411px) and (max-height:823px) {

  agm-map {
    height: 100%;
  }

  .formSetting {
    padding-bottom: 2rem;
  }
}


@media (max-width:414px) and (max-height:736px) {

  .formSetting {
    padding-bottom: 20px;
  }

  .listing-card{
    width: 1545px !important;
    left: 90px !important;
  }

  ::ng-deep .si-float-wrapper{
    left: 0px !important;
    top: 650px !important;
    
  }
}

@media (max-width:399px) {
  agm-map {
    height: 100%;
  }

  ::ng-deep .close {
    font-size: 12rem;
  }

  .searchBar {
    width: 1000px;

  }

  .option {
    max-width: 1600px;
    min-width: 1600px;
  }

}

@media (width:411px) and (height:823px) {
  .listing-card{
    width: 1545px !important;
    left: 90px !important;
  }
}

@media (width:411px) and (height:731px) {
  .left {
    max-width: 1640px;
    min-width: 1640px;
  }

  .listing-card{
    width: 1620px !important;
    left: 90px !important;
  }

  ::ng-deep footer {
    width: 1640px;
  }
}

@media (width:412px) and (height:914px) {
  .listing-card{
    width: 1550px !important;
    left: 85px !important;
  }
}

@media (width:412px) and (height:915px) {
  .listing-card{
    width: 1550px !important;
    left: 85px !important;
  }
}

@media (width:390px) and (height:844px){

  .pagination {
    left: -150px;
  }

  .listing-card{
    width: 1545px !important;
    left: 85px !important;
  }
}


@media (width:384px) {
  .left {
    max-width: 1538px !important;
    min-width: 1538px !important;
  }

  ::ng-deep .si-pointer-border-top {
    bottom: 0;
    border-top-color: #bbb;
    display: none;
  }
  
  ::ng-deep .si-float-wrapper{
    left: 0px !important;
    top: 950px !important;
    
  }

  .listing_results {
    left: -4%;
}

  ::ng-deep footer{
    width: 1538px !important;
  }

 
 
 

  .pagination_listing_results .pagination {
    left: -185px !important;
  }


}

@media (width:384px) and (height:640px) {
  ::ng-deep .si-pointer-border-top {
    bottom: 0;
    border-top-color: #bbb;
    display: none;
  }
  .listing-card{
    width: 1500px !important;
    left: 80px !important;
  }
  
  ::ng-deep .si-float-wrapper{
    left: 0px !important;
    top: 550px !important;
    
  }
}


@media (width:393px) and (height:786px) {

  .pagination {
    left: -150px;
  }

  .listing-card{
    width: 1545px !important;
    left: 85px !important;
  }
}

@media (width:393px) and (height:851px) {

  .pagination {
    left: -150px;
  }

  .listing-card{
    width: 1545px !important;
    left: 85px !important;
  }
}


@media (width:375px) and (height:812px) {

  .pagination_listing_results .pagination {
    left: -150px;
  }

  .listing-card{
    width: 1480px !important;
    left: 85px !important;
  }

  .map_list_button {
    left: 38rem;
  }

}



@media (max-width:376px) and (max-height:668px) {


  agm-map {
    height: 100%;
  }

  .listing-card{
    width: 1475px !important;
    left: 85px !important;
  }

  .marker{
    width:1380px;
  }

  .left {
    max-width: 1505px;
    min-width: 1505px;
    height: 100%;

  }

  .option .container {
    margin-top: 5%;
  }

  .listing_results {
    left: -5%;
  }


  .map_list_button {
    left: 38.5rem;
  }

}

@media (max-width:376px) {
  .left {
    max-width: 1500px;
    min-width: 1500px;
  }

  ::ng-deep footer {
    width: 1500px;
  }
}


@media (max-width:361px) {

  ::ng-deep .close {
    font-size: 12rem;
  }
  .listing-card{
    width: 1400px;
    left: 135px;
    position: relative;
  }

  .marker{
    width:1380px;
  }

  .left {
    max-width: 1440px;
    min-width: 1440px;
    height: 100%;
  }

  .listing_results{
    left: -8%;
  }

  ::ng-deep footer {
    width: 1440px;
  }

  .map_list_button {
    left: 35rem;
  }

  .option {
    margin-top: 100px !important;
    max-width: 1440px;
    min-width: 1440px;
    height: 190px !important;
  }

  .option .container {
    margin-top: -5.5%;
  }

  .spacing {
    max-width: 939px;
    min-width: 939px;
  }


  .pagination_listing_result .pagination {
    left: 10px;
  }

  .searchBar {
    width: 950px;
  }

  agm-map {
    height: 100%;
  }
}

@media (width:360px) and (height:740px) {

  .pagination_listing_results .pagination {
    left: 20px;
  }

  .listing-card{
    width: 1425px !important;
    left: -30px !important;
  }

  .marker{
    width:1380px;
  }

}

@media (max-width:322px) {

  ::ng-deep .close {
    font-size: 12rem;
  }

  .listing-card{
    width: 1250px;
    left: 135px;
    position: relative;
  }

  .marker{
    width:1180px;
  }

  ::ng-deep .si-float-wrapper{
    left: 0px !important;
    top: 350px !important;
    
  }

  .left {

    height: 100%;
    min-width: 1295px;
    max-width: 1295px;
    margin-left: -1rem;
    margin-bottom: 0rem;
  }

  .listing_results{
    left:-8%;
  }

  ::ng-deep footer {
    width: 1295px;
  }

  .map_list_button {
    left: 32rem;
  }

  .option {
    min-width: 1280px;
    max-width: 1280px;
    margin-top: 95px !important;
    height: 290px;
  }

  .spacing {
    height: 470px;
    max-width: 939px;
    min-width: 939px;
  }

  .pagination_listing_results {
    min-width: 1295px !important;
    max-width: 1295px !important;
   
  }

  .searchBar {
    width: 825px;
  }

  agm-map {
    height: 100%;
  }

}



@media (width:320px) and (max-height:658px) {
  .spacing{
    height: 300px;
  }
  .listing-card{
    width: 1270px !important;
    left: 125px !important;
  }

  .pagination_listing_results1 {
    left: 10%;
}
}



@media (max-width: 281px) {

  .left {
    min-width: 1135px;
    max-width: 1135px;
    height: 100%;
  }

  ::ng-deep footer {
    width: 1135px;
  }

  .option {
    min-width: 1120px !important;
    max-width: 1120px !important;
  }

  .searchBar {
    width: 650px;
  }

  agm-map {
    height: 100%;
  }

}