<main>
  <section class="layout">
    <div class="option">
      <div class="optionContainer">
        <form [formGroup]="searchBar">
          <input #findListing id="searchList" formControlName="search" class="searchBar" type="search"
            placeholder="eg. 2144 Oceanside Boulevard, Oceanside, CA 92054" aria-label="Search" value="fuch"
           >
          <button class="searchButton" type="submit" [disabled]="!searchBar.valid"
            (click)="searchListing(findListing.value)">
            <a class="" type="button">
              <img src="/assets/search_icon.svg" onerror="this.onerror=null; this.src='image.png'">
            </a>
          </button>
          <button class="contactButton" (click)="openModalWithClass(moreOptions)">
            <a class="" type="button">
              <img src="/assets/filter_icon.svg" onerror="this.onerror=null; this.src='image.png'">
            </a>
          </button>
          <button class="mapButton" (click)="mapViewTablet(map)">
            <a class="" type="button">
              <img src="/assets/map_icon.svg" onerror="this.onerror=null; this.src='image.png'">
            </a>
          </button>
        </form>
        <div class="optionPadding"></div>
        <div class="dropdown">
          <button class="listing-status adjust-space">{{listingParams.bathtotals == -1?'Baths':'Baths: ' +
            listingParams.bathtotals
            }}<span *ngIf="listingParams.bathtotals !== -1">+</span></button>
          <div class="dropdown-content bath-select-dpdwn" id="scroll-drpdwn">
            <ul>
              <a href="javascript:void(0)" (click)="bathchange($event.target.value)">
                <li [value]="bath" *ngFor="let bath of bathSelect">{{bath}}+</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="dropdown">
          <button class="listing-status adjust-space">{{listingParams.bedrooms == -1?'Beds':'Beds: ' +
            listingParams.bedrooms
            }}<span *ngIf="listingParams.bedrooms !== -1">+</span></button>
          <div class="dropdown-content bed-select-dpdwn" id="scroll-drpdwn">
            <ul>
              <a href="javascript:void(0)" (click)="bedchange($event.target.value)">
                <li [value]="bed" *ngFor="let bed of bedSelect">{{bed}}+</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="dropdown sqft">
          <button class="listing-status adjust-space">{{currentSqft == '-1'?'Sq. Ft.': currentSqft+ '
            > SqFt.'}}<span *ngIf="selectedEst !== -1"><i class="fa fa-angle-right"
                aria-hidden="true"></i></span></button>
          <div class="dropdown-content sqft-select-dpdwn" id="scroll-drpdwn">
            <ul>
              <a href="javascript:void(0)" (click)="estimatedSqFt($event.target.value)">
                <li [value]="sqft" *ngFor="let sqft of sqftSelect">{{sqft + ' >'}} </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="dropdown priceSort_listingStatus">
          <button class="listing-status adjust-space">{{currentPrice == -1?'Price: No Max': currentPrice |
            currency:'USD':'symbol':'2.0-2'}}<span *ngIf="currentPrice !== -1"><i class="fa fa-angle-left"
                aria-hidden="true"></i></span></button>
          <div class="dropdown-content price-select-dpdwn" id="scroll-drpdwn">
            <ul>
              <a href="javascript:void(0)" (click)="pricechange($event.target.value)">
                <li [value]="-1"> No Max</li>
              </a>
              <a href="javascript:void(0)" (click)="pricechange($event.target.value)">
                <li [value]="price" *ngFor="let price of priceSelect">{{price| currency:'USD':'symbol':'2.0-2'}}</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="dropdown">
          <button [innerHtml]="pricesortHTML" class="listing-status adjust-space"></button>
          <div class="dropdown-content dropdown-content high-low-select-dpdwn " id="price-sort">
            <ul>
              <a href="javascript:void(0)" (click)="priceSort($event.target.value)">
                <li [value]="1">(High to low)</li>
              </a>
              <a href="javascript:void(0)" (click)="priceSort($event.target.value)">
                <li [value]="2">(Low to High)</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="dropdown priceSort_listingStatus">
          <!--</button> (click)="openModalWithClass(listingStatus)"-->
          <button class="listing-status adjust-space">Listing Status</button>
          <div class="dropdown-content " id="listing-status-desktop">
            <div class="container-listing-status">
              <div class="label-container">
                <label>
                  <input type="checkbox" (click)=activeStatus($event) [checked]="activeSelected">
                  <span class="checkmark"></span>
                  Active&nbsp;&nbsp;&nbsp;
                </label>
                <label>
                  <input type="checkbox" (click)=pendingStatus($event) [checked]="pendingSelected">
                  <span class="checkmark"></span>
                  Pending&nbsp;&nbsp;&nbsp;
                </label>
                <label>
                  <input type="checkbox" (click)=contingentStatus($event) [checked]="contingentSelected">
                  <span class="checkmark"></span>
                  Contingent&nbsp;&nbsp;&nbsp;
                </label>
                <label>
                  <input type="checkbox" (click)=bomStatus($event) [checked]="bomSelected">
                  <span class="checkmark"></span>
                  BOM&nbsp;&nbsp;&nbsp;
                </label>
                <label>
                  <input type="checkbox" (click)=forecloseStatus($event) [checked]="forecloseSelected">
                  <span class="checkmark"></span>
                  Foreclose&nbsp;&nbsp;&nbsp;
                </label>
                <label>
                  <input type="checkbox" (click)=soldStatus($event) [checked]="soldSelected">
                  <span class="checkmark"></span>
                  Sold
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lists">
      <div class="listPadding"></div>
      <div class="list" *ngFor="let listing of listings">
        <div  (mouseenter)="listingHovered($event)" (mouseleave)="listingNotHovered($event)" class="listing-card"
          data-id="{{listing.id}}">
          <app-listing-card [listing]="listing"></app-listing-card>

        </div>

      </div>
      <div class="listPaddingBottom"></div>
      <div class="pagination_listing_results1">
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
          (pageChange)="pageChanged($event)"></app-pagination>
      </div>
      <button [ngStyle]="{'display': clearSearchBtnDisplayMobile}"  (click)="clearSearch()" class="mobileClearSearch">
        <img src="/assets/search.svg" onerror="this.onerror=null; this.src='image.png'">
      </button>
    </div>
    <div class="map">
      <button [ngStyle]="{'display': clearSearchBtnDisplay}"  (click)="clearSearch()" class="desktopClearSearch">
        Clear Search
       </button>
      <agm-map  #map ([zoomSroll])="location.scrollZoom" [gestureHandling]="location.gestureHandling"
        [ngStyle]="_mapDisplay"  [latitude]="location.lat" [styles]="location.styles"
        [longitude]="location.lng" [clickableIcons]="location.clickableIcons"
        [(showDefaultInfoWindow)]="location.showDefaultInfoWindow" [disableDefaultUI]="location.disableDefaultUI"
        [(zoom)]="location.zoom" [draggable]="location.draggable" (boundsChange)="setUpdateListings($event)">
        <!-- <agm-marker-cluster   [styles]="markerClusterIconStyles" > -->




        <agm-marker [agmFitBounds]="false" *ngFor="let marker of listings" class="myMap" [latitude]="marker.lat"
          [longitude]="marker.lng" [iconUrl]="marker.iconUrl" data-id="{{marker.id}}"
          (markerClick)='listingClicked(marker.id)'>
          <agm-snazzy-info-window [ngStyle]="{'animation': 'tilt-in-top-2 1s ease forwards'}" [latitude]="marker.lat" [isOpen]="marker.isHovered" [padding]="location.padding"
            [longitude]="marker.lng" [border]="location.border" [borderRadius]="location.borderRadius"
            [maxWidth]="mapCard.maxWidth" [maxHeight]="mapCard.maxHeight" [closeWhenOthersOpen]="true"
            style="position: relative; top: 50px; z-index: 2 !important;">
            <ng-template>
              <section class="marker">
                <a routerLink='/listing/{{marker.id}}' routerLinkActive='active'><img src="{{marker.listingPictures}}"
                    style="border-radius: 0px;" alt="..."
                    onerror="this.onerror=null; this.src='../assets/NoPhotoAvailable.jpg';"></a>
                <div class="card-body" style="color:black;">
                  <h5 class="card-title cardTitle">{{marker.price}}</h5>
                  <p class="card-text m-0 cardText">{{marker.bedrooms}} Beds | {{marker.bathFull + marker.bathsHalf}}
                    Baths
                    | {{marker.estimatedSquareFeet}} SQFT</p>
                  <a class="btn tracking-in-expand" routerLink='/listing/{{marker.id}}'
                    routerLinkActive='active-link'>View Details</a>
                </div>
              </section>

            </ng-template>
          </agm-snazzy-info-window>

        </agm-marker>
        <!-- </agm-marker-cluster> -->
      </agm-map>
      <div  [ngStyle]="_mapDisplay"  class="pagination_listing_results">
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
          (pageChange)="pageChanged($event)"></app-pagination>
          <button [ngStyle]="{'display': clearSearchBtnDisplay}"  (click)="clearSearch()" class="mobileClearSearch">
            <img src="/assets/search.svg" onerror="this.onerror=null; this.src='image.png'">
          </button>
      </div>
    </div>
   
  </section>

</main>

<ng-template #moreOptions>
  <button type="button" class="close" (click)="modalRef.hide()">
    &times;
  </button>
  <div class="container">
    <h1 class="mobile">Bed</h1>


    <select id="mobileBtnBed" (change)="bedchange($event.target.value)">
      <option id="one" [value]=-1>{{currentBed == -1?'Beds': currentBed +'+'}}</option>
      <option [value]=0>--No Min--</option>
      <option [value]=1>1+</option>
      <option [value]=2>2+</option>
      <option [value]=3>3+</option>
      <option [value]=4>4+</option>
      <option [value]=5>5+</option>
      <option [value]=6>6+</option>
      <option [value]=7>7+</option>
      <option [value]=8>8+</option>
      <option [value]=9>9+</option>
      <option [value]=10>10+</option>
    </select>

    <h1 class="mobile">Bath</h1>
    <select id="mobileBtnBath" (change)="bathchange($event.target.value)">
      <option id="one" [value]=-1>{{currentBath == -1?'Baths': currentBath +'+'}}</option>
      <option [value]=0>--No Min--</option>
      <option [value]=1>1+</option>
      <option [value]=2>2+</option>
      <option [value]=3>3+</option>
      <option [value]=4>4+</option>
      <option [value]=5>5+</option>
      <option [value]=6>6+</option>
      <option [value]=7>7+</option>
      <option [value]=8>8+</option>
      <option [value]=9>9+</option>
      <option [value]=10>10+</option>
    </select>

    <h1 class="mobile">Price</h1>

    <select id="mobileBtnPrice" (change)="pricechange($event.target.value)">
      <option [value]="-1">{{currentPrice == -1?'Max Price': currentPrice + ' <'}}</option>
      <option [value]="-1">--No Max--</option>
      <option [value]="price" *ngFor="let price of priceSelect">{{'$'+ price + ' <' }}</option>
    </select>

    <div id="price-spacing">

    </div>
    <select id="mobileBtnSort" (change)="priceSort($event.target.value)">
      <option [value]="-1">{{currentSort == -1?'Price Sort': currentSort}}</option>
      <option [value]="1">(High to low)</option>
      <option [value]="2">(Low to High)</option>
    </select>


  <h1 class="mobile">Square Feet</h1>
  <select id="mobileBtnSqft" (change)="estimatedSqFt($event.target.value)">
    <option value="-1">{{currentSqft == -1?'Sq. Ft.': currentSqft + ' >'}}</option>
    <option [value]=0>--No Min--</option>
    <option value="500">500 > </option>
    <option value="750">750 ></option>
    <option value="1000">1000 ></option>
    <option value="1500">1500 ></option>
    <option value="2000">2000 ></option>
    <option value="2500">2500 ></option>
    <option value="3000">3000 ></option>
    <option value="3500">3500 ></option>
    <option value="4000">4000 ></option>
    <option value="4500">4500 ></option>
    <option value="5000">5000 ></option>
    <option value="5500">5500 ></option>
    <option value="6000">6000 ></option>
    <option value="6500">6500 ></option>
    <option value="7000">7000 ></option>
    <option value="10000">10000 ></option>
    <option value="20000">20000 ></option>
    <option value="30000">30000 ></option>
  </select>
  </div>
  
  <div class="label-container">
    <h1 class="mobile">Listing Status</h1>
  
    <label>
      <input type="checkbox" (click)=activeStatus($event) [checked]="activeSelected">
      <span class="checkmark"></span>
      Active&nbsp;&nbsp;&nbsp;
    </label>
    <label>
      <input type="checkbox" (click)=pendingStatus($event) [checked]="pendingSelected">
      <span class="checkmark"></span>
      Pending&nbsp;&nbsp;&nbsp;
    </label>
    <label>
      <input type="checkbox" (click)=contingentStatus($event) [checked]="contingentSelected">
      <span class="checkmark"></span>
      Contingent&nbsp;&nbsp;&nbsp;
    </label>
    <label>
      <input type="checkbox" (click)=bomStatus($event) [checked]="bomSelected">
      <span class="checkmark"></span>
      BOM&nbsp;&nbsp;&nbsp;
    </label>
    <label>
      <input type="checkbox" (click)=forecloseStatus($event) [checked]="forecloseSelected">
      <span class="checkmark"></span>
      Foreclose&nbsp;&nbsp;&nbsp;
    </label>
    <label>
      <input type="checkbox" (click)=soldStatus($event) [checked]="soldSelected">
      <span class="checkmark"></span>
      Sold
    </label>
  </div>


  </ng-template>