<main>
    <div class="kenburns-top" >
      <div class="cover" [@banner] = "state" (@banner.done)="onEnd($event)" ng-repeat="cover in UIModel.cover track by cover.id">
        <h1 class="text-shadow focus-in-expand ">Find your future home</h1>
        <button class="button button2"> <a routerLink ='/forsale' routerLinkActive='active'>Click Here To Begin!</a> <!-- <a *ngIf="(accountService.currentUser$ | async)===null"  routerLink ='/loginregister' routerLinkActive='active' >Click Here To Begin!</a> --></button>
      </div>
    </div>
  </main>
  