<main>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="needs-validation register-form" novalidate="">
        <div class="container">
          <h1>Login</h1>
          <p>Please enter the credentials below.</p>
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" formControlName="email"  name="email" id="email" type="text" class="form-control shadow-none  stack4"required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" formControlName="password" placeholder="Enter Password" name="psw" id="psw" class="form-control shadow-none  stack4"  required>
          
          <div class="container signin">
            <h6><span>Want access to specials? </span><a class="registerLink" routerLink="/loginregister">Click here to Register.</a></h6>
            <span>Forgot Password? </span><a class="registerLink" routerLink="/forgotpassword">Click here.</a>
          </div>
          <button  class="contactButton"  [disabled]="!loginForm.valid" type="submit" class="registerbtn">Login</button>
          <p id="terms">By creating an account you agree to our <a  routerLink="/terms/login">Terms & Privacy</a>.</p>
        </div>
      </form>    
</main> 