<main>
    <div class="main">
      <div class="login-div">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="needs-validation" novalidate="">
          
    
    
          <div class="mb-3">
            <label for="address" class="textLabel">Email</label>
            <input formControlName="email" type="text" class="form-control stack4"  placeholder="email" required="">
          </div>
        
    
          <div class="mb-3">
            <label for="address" class="textLabel">Password</label>
            <input type="text" formControlName="password" type="Password"  class="form-control stack4"  placeholder="Password" required="">     
            <hr class="mb-4">
            <button class="contactButton"  type="submit">Login</button>
          </div>
          <a class="registerLink" routerLink="/loginregister">Click here to Register.</a>
 
        </form>
    </div>
    </div>
  </main> 
    
    
    
    



    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


    
    
    
    
    
    
    
    

    
    
    
    
    
    
    

    
    
    
    
    
    
    
    

    
    
    
    
    
    
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
    


    