.builder-main{
    height: 100vh;
    background-image: linear-gradient(rgba(43, 43, 43, 0.7), rgba(174, 191, 250, 0.7)), url(/assets/bg3.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.subtitle {
    margin-top: 20px;
    font-size: 30px;
}

.title {
    margin: 0;
    font-size: 150px;
    line-height: 150px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
}

.btn{
    color: rgb(160, 136, 4);
    margin: 5% 5%;
    padding: 0% 10% 1% 10%;
    border-color: rgb(160, 136, 4);
    border-radius: 0px;
    border-width: 3.5px;
    font-size: 2.5rem;
    border-style: inset;
   
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    -webkit-appearance: none;
}

.btn:hover{
    border-color: rgb(207, 190, 93);
    color: rgb(172, 158, 78);
}

.section-1 {
    text-align: center;
    width: 900px;
    position: absolute;
    top:30%;
    color: white;

}


@media (max-width: 1024px) and (max-height:1369px) {
    .builder-main{
        width: 100%;
    }

}

@media (max-width: 912px) and (height:1368px) {
    .builder-main{
        width: 1050px;
    }
}


@media (max-width: 821px) and (max-height:1181px) {
    .builder-main{
        width: 950px;
    }

    .title {
        font-size: 230px;
    }

    .subtitle {
        font-size: 80px;
        margin-top: 10%;
    }

    .btn {
        margin-top: 5%;
        font-size: 45px;
    }
}







@media (max-width: 769px) and (max-height:1025px) {
    .builder-main{
        width: 900px;
        height: 1400px;
    }
}








@media (max-width: 441px) {

    .title {
        font-size: 240px;
    }

    
    
    

    .builder-main{
        width: 1500px;
     }
    

    .section-1 {
        text-align: center;
        width: 900px;
        position: absolute;
        top:700px;
        color: white;
    
    }

    .subtitle {
        margin-top: 10%;
        font-size: 80px;
    }

    .btn{
        font-size: 5rem;
        border-width: 1.15rem;
    }
}

@media (max-width: 415px) and (max-height:916px) {
    .builder-main{
        height: 2300px;
    }
}

@media (max-width: 415px) and (max-height:900px) {
    .builder-main{
        height: 2100px;
    }
}


@media (max-width: 391px) and (max-height:900px) {
    .builder-main{
        height: 2300px;
    }
}

@media (max-width: 376px) and (max-height:668px) {
    .builder-main{
        height: 1900px;
    }
}

@media (max-width:361px) {
    .builder-main{
        width: 1400px;
    }
}

@media (max-width:321px) {
    .builder-main{
        width: 1250px;
    }
}