<main>
    <form  class="needs-validation register-form" novalidate="">
      <div class="container">
        <h1>Registration Confirmation</h1>
        <p [innerText]="successMessage"></p>
        <hr>
    
        <!-- <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" formControlName="email"  name="email" id="email" type="text" class="form-control shadow-none  
stack4"required>
        
        <div class="container signin">
          <span>Need to register? </span><a class="registerLink" routerLink="/loginregister">Click here to Register.</a>
        </div> -->
        <button  class="contactButton" type="submit" class="registerbtn" routerLink="/login">Click Here to Login</button>
      </div>
    </form>    
</main>
