<!-- <div class="card slide-in-blurred-left  main-font shdw">
  <div class="row g-0">
    <div class="col-md-4 imageHolder">
      <a async routerLink='/listing/{{listing.id}}' routerLinkActive="router-link-active"><img
          src="{{listing.listingPictures}}" class="card-img-top p-0 images"
          onerror="this.onerror=null; this.src='../assets/NoPhotoAvailable.jpg';" alt="...">
        <span class="member-link animate text-center">
          View Details
        </span>
      </a>
    </div>

    <div class="card-body">
      <h5 class="card-title cardTitle ">{{listing.price}}</h5>
      <p  c>{{listing.bedrooms}} Beds | {{listing.bathFull +
        listing.bathsHalf}} Baths | {{listing.estimatedSquareFeet}} SQFT</p>
      <p class=" cardText">{{listing.fullAddress}} </p>
    </div>

  </div>
</div> -->


<div id="mobile"class="card m-2" style="max-width: 18rem;">
  <div class="image-container changeColor">
    <img  src="{{listing.listingPictures}}" class="card-img-top fade-in"  onerror="this.onerror=null; this.src='../assets/NoPhotoAvailable.jpg';" alt="...">
  </div>
  
  <a  class="btn slide-in-blurred-left" routerLink='/listing/{{listing.id}}' routerLinkActive='active'>View Details</a>
  <div class="card-body">
    <h5 >{{listing.price}}</h5>
    <p>{{listing.bedrooms}} Beds | {{listing.bathFull +
      listing.bathsHalf}} Baths | {{listing.estimatedSquareFeet}} SQFT</p>
    <p>{{listing.fullAddress}} </p>
  </div>
</div>


<div routerLink='/listing/{{listing.id}}' id="desktop" class="card m-2" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 desktop-image-container  changeColor">
      <img src="{{listing.listingPictures}}" class="img-fluid fade-in"  onerror="this.onerror=null; this.src='../assets/NoPhotoAvailable.jpg';" alt="...">
      <!-- <a class="viewListing" routerLink='/listing/{{listing.id}}' routerLinkActive='active'>View Details</a> -->
    </div>
    
    <div class="col-md-8">
      <div class="card-body">
        <h5>{{listing.price}}</h5>
        <p>{{listing.bedrooms}} Beds | {{listing.bathFull +
          listing.bathsHalf}} Baths | {{listing.estimatedSquareFeet}} SQFT</p>
        <p>{{listing.fullAddress}} </p>
      </div>
    </div>
  </div>
</div>