@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&family=Noto+Serif&display=swap');
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


.main-font {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
    font-weight: 300;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.27s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.27s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}




.shdw {
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.13),
0px 1px 2px 0px rgba(0,0,0,0.11);
  border-style: none;
  border-top-left-radius: .2rem;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: .25rem;
}

.images {
  border-radius: 0px;
  height: 170px;
  width: 220px;
  transform: scale(1, 1);
  transition: all 0.5s ease-in-out;
}

.imageHolder {
  border-top-left-radius: .2rem;
  border-top-right-radius: 1.1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 1.1rem;

}

.card {
  width: inherit;
  height: 170px;
  position: relative;
}

.card h5 {
  -webkit-text-stroke: .35px #9da000 !important;
}

.card p {
  -webkit-text-stroke: .15px #9da000 !important;
}

.card-body {
  position: relative;
  width: fit-content;
  top: 20px;
}

.cardTitle {
  font-size: 20px;
  letter-spacing: 3px;
  color: black;
  /* font-weight: 600 !important; */
}

.imageHolder:hover .images {
  transform: scale(1.2, 1.2);
  overflow:visible !important;
  transition: all 0.5s ease-in-out;
  position: relative;
}

a {
  text-decoration: none;
}


.imageHolder .member-link {
  color: black;
  text-shadow: 0px 1px 0px rgb(255 255 255 / 30%), 0px -1px 0px rgb(0 0 0 / 70%);
  background: linear-gradient(130deg, rgba(250, 255, 255, 5) 10%, rgba(250, 255, 162, 0.5) 50%, rgb(193, 207, 36) 100%);
  text-decoration-line: hidden;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  letter-spacing: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: .1rem;
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.imageHolder {
  overflow: hidden;
  border-width: .0001px;
  position: relative;
}


.imageHolder:hover .member-link {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.5s ease-in-out;
}


.cardText {
  font-size: 15px !important;
  letter-spacing: 2px !important;
  margin-bottom: 2% !important;
  font-weight: 300 !important;
  color: black;
}

@media (max-width:1280px) and (max-height:800px) {
  .card {
    height: 120px !important;
    width: 380px;
    left: 65px;
  }

  .card h5 {
    font-size: 16px;
  }
  .cardText {
    font-size: 13px !important;
  }

  .images{
    height: 120px;
    width: 150px;
  }

  .imageHolder{
    width: 150px;
    height: 120px;
  }

  .card-body{
    top: 5px;
  }
  
  
}










@media (max-width:1110px) {

  .imageHolder {
    width: 100%;
    height: auto;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }

  .shdw {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
  }

  .card {
    left: 110px !important;
    width: 290px;
    height: auto !important;
  }

  .card img {
    width: 100% !important;
    height: auto;
  }

  .card-body {
    left: 0px !important;
    top: 10px !important;
  }

  .card h5 {
    font-size: 1.3rem !important;
  }

  .card-body p {
    font-size: .9rem !important;
  }


}

@media (width:1024px) and (height:1366px) {
  .card{
    left: 15% !important;
    height: auto;
    width: 70% !important;
  }
}

@media (max-width:1024px){
  .card{
    width: 70% !important;
    left: 15% !important;
    height: auto !important;
  }
}

@media (max-width:915px){
  .card{
    width: 95% !important;
    left: 2.5% !important;
    height: auto !important;
  }
}






@media (max-width: 821px) and (max-height:1181px) {
  .card{
    left: 22.5% !important;
    height: auto;
    width: 55% !important;
  }
}

@media (max-width: 769px) and (max-height:1025px) {
  .card{
    left: 22.5% !important;
    height: auto;
    width: 55% !important;
  }
}

@media (max-width:541px) {

  .card-body {
    left: 30px !important;
    
  }
  .card-body h5{
    font-size: 3rem !important;;
  }
  .card-body p {
    font-size: 2rem !important;
  }
}

@media (max-width:485px) {
  .card{
    left: 0% !important;
    height: auto;
    width: 100% !important;
  }

  .card-body {
    left: 50px !important;
    
  }
  .card-body h5{
      font-size: 7rem !important;;
  }

  .card-body p {
    font-size: 5rem !important;
  }

  .imageHolder:hover .member-link {
    bottom: 0;
    opacity: 1;
    display: none;
  }
  
}


@media (max-width:485px) {

  .card-body p {
    font-size: 4.25rem !important;
  }
}
