<div class="card slide-in-blurred-left  main-font shdw">
  <div class="row g-0">
    <div class="col-md-4 imageHolder">
      <a async routerLink='/listing/{{listing.id}}' routerLinkActive="router-link-active"><img
          src="{{listing.listingPictures}}" class="card-img-top p-0 images"
          onerror="this.onerror=null; this.src='../assets/NoPhotoAvailable.jpg';" alt="...">
        <span class="member-link animate text-center">
          View Details
        </span>
      </a>
    </div>

    <div class="card-body">
      <h5 class="card-title cardTitle ">{{listing.price}}</h5>
      <p style="word-wrap: break-word;" class=" cardText ">{{listing.bedrooms}} Beds | {{listing.bathFull +
        listing.bathsHalf}} Baths | {{listing.estimatedSquareFeet}} SQFT</p>
      <p class=" cardText">{{listing.fullAddress}} </p>
    </div>

  </div>
</div>