<div style="height: 100vh; background-image: linear-gradient(rgba(43, 43, 43, 0.7), rgba(174, 191, 250, 0.7)), url(https://images.unsplash.com/photo-1512652296884-f1d6ecc353c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80); background-size:cover; ">
    <div style="height:auto; min-height:100%;">     
        <div style="text-align: center; width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%; color:white; " >
            <h1 style="margin:0; font-size:150px; line-height:150px; font-weight:bold; text-shadow: 2px 2px 10px rgba(0, 0, 0,.7);">404</h1>
            <h2 style="margin-top:20px;font-size: 30px;">Not Found</h2>
            <p>The resource requested could not be found on this server!</p> 
            <button class="btn btn-info btn-lg rounded-0" routerLink="/home"> Return to homepage</button>          
        </div>
        
    </div>
    
</div>