<!-- Site footer -->


<section style="background-color: blue; width:100%">
  <footer>
    <p>Author: Hege Refsnes<br>
    <a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer>
  
</section>



<!--<section class="site-footer" style="z-index:2; position: relative; bottom:0;">
    
    <div class="container">
      <div class="row adjustRow">
        <div class="textSection">
          <p class="text">© 2012-2022 &nbsp;
            <span itemscope="itemscope" itemtype="http://schema.org/LocalBusiness" itemid="Burke Real Estate Consultants" 
          itemprop="mainEntityOfPage">
            <a routerLink="/home">Beverly Ward, REALTOR® a Burke Real Estate Consultant</a>
          </span> California DRE#01992425</p>
          <p class="text"  itemscope="itemscope" itemtype="https://schema.org/LocalBusiness">
            <span itemid="Burke Real Estate Consultants" itemprop="address">11622 EL CAMINO REAL STE 100, San Diego CA, 92130-2051</span>
          </p>
        </div>
         
         <div class="col-md-4 col-sm-6 col-xs-12">
           <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul> 
        </div>
      </div>
    </div>
  </section>-->
  