<!-- Site footer -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="col-lg-12">
      <div class="mt-4 border-0 mb-4">
        <div class="row icons">
          <div class="col-lg-4 col-md-4">
            <div class="card-body  d-flex">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <div class="contact-marker">
                <h6 class="font-weight-medium">Address</h6>
                <p itemid="Burke Real Estate Consultants" itemscope="itemscope"
                  itemtype="https://schema.org/LocalBusiness">11622 EL CAMINO REAL STE 100
                  <br> San Diego CA, 92130-2051
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card-body d-flex">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <div class="contact-phone">
                <h6 class="font-weight-medium">Phone</h6>
                <p class="">858 509 7500
                  <br> 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="card-body d-flex">
              <i class="fa fa-at" aria-hidden="true"></i>
              <div class="contact-email">
                <h6 class="font-weight-medium">Email</h6>
                <p class="">
                 beverlywwardrealtor&#64;gmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row icons2" style="text-align: center;">
      <!-- <ul class="social-icons">
        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="twitter" style="margin-left: 3%;" href="#"><i class="fa fa-twitter"></i></a>
        <a class="dribbble" style="margin-left: 3%;" href="#"><i class="fa fa-dribbble"></i></a>
        <a class="linkedin" style="margin-left: 3%;" href="#"><i class="fa fa-linkedin"></i></a>
      </ul> -->
      <p class="text">© 2012-2022 &nbsp;
        <span itemscope="itemscope" itemtype="http://schema.org/LocalBusiness" itemid="Burke Real Estate Consultants"
          itemprop="mainEntityOfPage">
          <a routerLink="/home">Beverly Ward, REALTOR® a Burke Real Estate Consultant</a>
          <br>
        </span> California DRE#01992425
      </p>
      <!-- <p class="text"  itemscope="itemscope" itemtype="https://schema.org/LocalBusiness">
          <span itemid="Burke Real Estate Consultants" itemprop="address">11622 EL CAMINO REAL STE 100, San Diego CA, 92130-2051</span>
        </p> -->
    </div>
  </div>
</footer>
