.footer {
  width: 100%;
  z-index: -2;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(90deg, rgb(190, 183, 140) 0%, rgb(248, 248, 213) 65%);
  position: absolute;
  display: flex;


}

.footer a {
  color: #917b03;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
  text-decoration: none;
}

.footer .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.footer .social-icons i {
  font-size: 2rem;
  color: rgb(29, 24, 9);
}

.footer .social-icons a {
  line-height: 70px !important;
  width: 60px !important;
  height: 60px !important;
  background: none !important;
}



.footer .fa-mobile {
  font-size: 3.85rem !important;
  padding-right: 15% !important;



}

.footer .fa-map-marker {
  font-size: 3.85rem !important;
  padding-right: 12% !important;
}

.footer .fa-at {
  font-size: 3.55rem !important;
  padding-right: 10% !important;
}

.footer .icons {

  margin-right: 5%;
}


@media (max-width: 485px) {

  .footer h6 {
    font-size: 2rem;
  }

  .footer .icons {
    position: relative;
    left: 190px;
    width: 80%;
  }

  .footer .social-icons i {
    font-size: 7rem;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .footer p {
    font-size: 2.5rem;
  }


  .footer .fa-mobile {
    font-size: 8.35rem !important;
    position: relative;
    left: 700px;
    top: 35px;
  }

  .footer .fa-map-marker {
    font-size: 8.35rem !important;
    position: relative;
    left: 700px;
    top: 30px;
  }

  .footer .fa-at {
    font-size: 8.15rem !important;
    position: relative;
    left: 700px;
    top: 25px;
  }

  .footer .contact-marker {
    position: relative;
    right: 55px;
  }

  .footer .contact-email {
    position: relative;
    right: 65px;
  }

  .footer .contact-phone {
    position: relative;
    right: 65px;
  }

  .footer .marker-body {
    position: relative;
    left: 70px;
  }

  .footer .container {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .social-icons i {
    font-size: 6rem;
  }
}

@media (max-width: 1024px) and (max-height:1369px) {
  .main {
      width: 1100px;
  }

}

@media (max-width: 912px) and (height:1368px) {
  .footer{
    width: 1050px;
  }
}

@media (max-width: 821px) and (max-height:1181px) {
  .footer {
    width: 800px;
  }
}


@media (max-width: 769px) and (max-height:1025px) {
  .footer {
    width: 900px !important;
  }
}

@media (max-width:485px) {
  .footer {
    width: 1500px !important;
  }
}

@media (max-width:361px) {
  .footer {
    width: 1400px !important;
  }
}

@media (max-width:321px) {
  .footer {
    width: 1250px !important;
  }
}