.footer {
  width: 100%;
  z-index: -2;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(90deg, rgb(190, 183, 140) 0%, rgb(248, 248, 213) 65%);
  position: absolute;
  display: flex;


}

.footer h6{
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 2px;
  -webkit-text-stroke: .25px #535513 !important;
}

.footer p{
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 1.45px;
  -webkit-text-stroke: .5px #535513 !important;
}

.footer i{
  width: 40px;
  font-size: 2rem;
}

.footer a {
  color: #917b03;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
  text-decoration: none;
}

.footer .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.footer .social-icons i {
  
  color: rgb(29, 24, 9);
}




@media (max-width: 485px) {

 .footer h6{
  font-size: .9rem;
 }

 .footer p{
  font-size: .8rem;
 }
.footer i{
  width: 40px;
  font-size: 2rem;
}

.text{
  font-size: .7rem !important;
}
.footer .container{
  width:90%
}
}


@media (max-width: 280px){
  
}