<div id="top"></div>
<main  class='about-main' >
    <div id="parallax-world-of-ugg">

        <section>
            <div class="parallax-zero">
                <h2>About</h2>
            </div>
            <div class="block">
                <p><span class="first-character sc">E</span>xperienced Finacial Analysist and Business Consultant with a
                    demonstrated working history in the higher education and the retail industry. </p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">Now an established agent, Beverly is caring, compassionate and detail-oriented,
                    traits that put her clients at ease as she expertly guides them through their real estate journey.
                </p>
            </div>
        </section>

        <section>
            <div class="parallax-one">
                <h2>SOUTHERN CALIFORNIA</h2>
            </div>
        </section>
        <section>
            <div class="block">
                <p><span class="first-character sc">W</span>hether you’re looking to buy your first residence,
                    transition to a smaller property, relocate out of state or country or invest in a second home,
                    Beverly tailors her approach to your unique needs. </p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">Finding the ideal home takes time, and Beverly patiently shows as many
                    properties and writes as many offers as it takes to ensure a successful outcome. She also maintains
                    widespread relationships with other agents, inspectors and lenders and is happy to provide a
                    referral for clients looking outside the Area.</p>
            </div>
        </section>

        <section>
            <div class="parallax-two">
                <h2>CENTRAL COAST</h2>
            </div>
        </section>

        <section>
            <div class="block">
                <p><span class="first-character ny">Y</span>ou are part of a team when you work with Beverly, and she
                    looks forward to assembling, composing, guiding, and supporting you through the entire home-buying
                    process.</p>
                <p class="line-break margin-top-10"></p>

            </div>
        </section>

        <section>
            <div class="parallax-three">
                <h2>NORTHERN CALIFORNA</h2>
            </div>
        </section>

        <section id="ugg-margin">
            <div class="block">
                <p class="margin-top-10"><span class="first-character atw">W</span>hen assisting sellers, Beverly draws
                    on her tools of experiences and access to in-depth community information to methodically prepare the
                    property for optimal impact. Through market analysis, she prices the home competitively and lists at
                    the most opportune moment.
                </p>
                <p>Thoughtful staging highlights the home’s assets to create a lasting impression, and quality digital
                    and print advertising captures wide-scale interest. Having a complete set of disclosures and reports
                    ready as potential buyers walk through the door is also essential, along with client-focused
                    negotiation that secures the very best terms and conditions.
                </p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">Beverly loves what she does, and her many satisfied clients appreciate her
                    positive attitude and drive to exceed all expectations. If you would simply like to explore the
                    possibilities, Beverly Ward warmly welcomes your call, email or text!
                </p>
            </div>
            <div style="display: grid; justify-content: center;">
                <button id="return-to-listing" class="btn  btn-md my-3" routerLink='/forsale'>Find Your Future
                    Home!</button>
            </div>
        </section>

    </div>
</main>